.portfolio-banner {
  position: relative;
  // object-fit: cover;
  background-image: url('https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low/v1547818978/Contour/hiseman_balfron_aug18_contour_golf-15.jpg');
  color: white;
  // text-align: center;
  height: 100vh;
  background-size: cover !important;
  background-position: center top;
  background-attachment: fixed;
}

.portfolio-banner-image {
  height: 110vh;
  width: 100vw;
  object-fit: cover;
  margin-bottom: -1px;
}

.portfolio-title {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 10rem;
  left: 0%;
  height: auto;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

@media only screen and (max-width: 600px) {
  .portfolio-title {
    max-height: 70vh;
    overflow: auto;
    top: 5rem;
  }
  .portfolio-banner {
    background-attachment: scroll;
  }
}

/* Fota banner */

.portfolio-fota {
  // width: 100%;
  min-height: 50vh;
  justify-content: center;
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.title-col {
  flex: 15%;
  padding: 20px;
}

.content-col {
  flex: 85%;
  padding: 20px;
}

.fota-banner {
  // position: relative;
  background-image: url('https://res.cloudinary.com/lwsw18ldn/image/upload/v1548098755/Contour/fota-island-golf-club.jpg');
  color: white;
  height: 70vh;
  background-size: cover !important;
  background-position: center;
  background-attachment: fixed;
}

@media only screen and (max-width: 600px) {
  .title-col {
  flex: 100%;
  padding: 0px;
  padding-top: 20px;
  }
  .content-col {
  flex: 100%;
  padding: 0px;
  }
  .fota-banner {
    background-attachment: scroll;
  }
}

/* portfolio divider section */

.portfolio-divide {
  height: 150vh;
  background-color: black;
  color: $white;
  text-align: center;
  position: relative;

}

.text-top {
  position: absolute;
  top: 20%;
  left: 5%;
  img {
    width: 75%;
  }
}

.text-center {
  position: relative;
  top: 45%;
}

.text-bottom {
  position: absolute;
  bottom: 15%;
  right: 10%;
  img {
    width: 35%;
  }
}

.portfolio-divide-banner {
  background-image: url("https://res.cloudinary.com/lwsw18ldn/image/upload/v1547640646/Contour/hiseman_contour-horsham_golf_18th.jpg");
  background-size: cover;
  background-position: bottom;
  background-color: black;
  width: 100%;
  min-height: 100vh;
  margin-top: -1px;
}

@media only screen and (max-width: 600px) {
  .portfolio-divide {
    height: 70vh;
  }
  .portfolio-divide-banner {
    min-height: 60vh;
  }
  .text-center {
    top: 25%;
  }
  h4 {
    font-size: 1rem;
  }
  .text-bottom {
    bottom: 25%;
    img {
      width: 24%;
    }
  }
}

/* carousel section */

.portfolio-car-wrap {
  position: relative;
  height: auto;
  margin-bottom: -1px;
}

.portfolio-carousel {
  z-index: -1;
  height: auto;
  .slick-prev,
  .slick-next {
    display: none !important;
  }
}

.portfolio-image {
  max-height: 90vh;
  width: 100vw;
  object-fit: cover;
}

.portfolio-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0rem;
  right: 0%;
  max-height: 96%;
  max-width: 25%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  color: #f1f1f1;
  padding: 20px;
  margin: 1%;
}

@media only screen and (max-width: 500px) {
  .portfolio-content {
    top: -18rem;
    max-width: 100%;
  }
}

/* links to websites, articles & address */

.portfolio-row {
  display: flex;
  flex-wrap: wrap;
  min-height: 20vh;
}

.portfolio-links {
  flex: 70%;
  background-color: black;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  img {
    width: 50%;
    max-width: auto;
  }
  a {
    text-align: center;
  }
}

.portfolio-address {
  flex: 30%;
  background-color: black;
  padding: 20px;
  text-align: center;
  color: $white;
  line-height: .75;
  font-weight: lighter;
  p {
    margin-top: .75rem;
    margin-bottom: .75rem;
  }
}

@media screen and (max-width: 700px) {
  .portfolio-row {
    flex-direction: column;
  }
}
