.wrap-soil {
  width: 100%;
  min-height: 90vh;
  overflow: -webkit-paged-x;
  background-color: #272838;
  color: white;
  font-weight: lighter;
  h1 {
    font-weight: 500;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  h2, h3 {
    text-align: center;
    font-weight: lighter;
  }
}

.services-title {
  h3 {
    text-align: center;
    font-weight: 300;
    margin-top: 70px;
    margin-bottom: 30px;
  }
  h2 {
    padding-bottom: 20px;
  }
}

.services-description {
  padding-top: 20px;
  height: auto;
  .card-soil {
    background-color: rgba(0,0,0,0.4);
    padding: 10px;
    margin-bottom: 20px;
    height: 560px;
    overflow: auto;
    position: relative;
    border-radius: 6px;
  }
}

.card-content-soil {
  position: relative;
  top: 22%;
}

.soil-image {
  width: 47%;
  position: absolute;
  top: 3%;
  left: 4%;
}

.soil-image-2 {
  width: 38%;
  position: absolute;
  top: 1%;
  right: 4%;
}

.soil-image-con {
  width: 36%;
  position: absolute;
  top: 1%;
  left: 32%;
}

.soil-image-plan {
  width: 40%;
  position: absolute;
  top: 4%;
  left: 5%;
}

.soil-image-ea {
  width: 50%;
  position: absolute;
  top: 7%;
  right: 4%;
}
