<div class="wrapper-about" id="about">
  <div class="container">
    <div class="row">
      <div class="col-24 col-md-12">
        <div data-aos="fade-left" data-aos-offset="250" data-aos-easing="ease-in-sine" data-aos-duration="800">
        <h1>Contour Golf</h1>
        <h3>Experts In Golf Course Construction</h3>
        </div>
      </div>
    </div>
    <div class="row justify-content-around">
      <div class="col-24 col-md-24" data-aos="fade-up" data-aos-offset="250" data-aos-easing="ease-in-sine" data-aos-duration="800">
        <p>Contour Golf was established in 1993 and specialises in the construction and remodelling of golf courses. Working both in the UK and internationally, through its in-depth industry knowledge and experience, Contour Golf has established a reputation for delivering bespoke, cost effective solutions to its clients. Through its unwavering commitment to providing a reliable and professional service, Contour Golf takes pride in ensuring projects are completed on time and within budget.</p>
      </div>
    </div>
    <br>
    <h5 class="ul-padding" data-aos="fade-left" data-aos-offset="250" data-aos-easing="ease-in-sine" data-aos-duration="800">Examples of work activity include:</h5>
    <br>
    <div class="row" data-aos="fade-up" data-aos-offset="250"data-aos-easing="ease-in-sine" data-aos-duration="800">
      <div class="col-24 col-md-8 ul-padding">
        <ul>
          <li>Site appraisal and setting out</li>
          <li>Site clearance</li>
          <li>Bulk earthworks and soil importation</li>
          <li>Lake construction/lining</li>
        </ul>
      </div>
      <div class="col-24 col-md-8 ul-padding">
        <ul>
          <li>Shaping works</li>
          <li>Cultivations and seeding/turfing</li>
          <li>Installation of synthetic surfaces</li>
          <li>Maintenance roads and buggy paths</li>
        </ul>
      </div>
      <div class="col-24 col-md-8 ul-padding">
        <ul>
          <li>USGA Green construction</li>
          <li>Drainage</li>
          <li>Irrigation</li>
          <li>Tee and bunker construction</li>
        </ul>
      </div>
    </div>
    <div data-aos="fade-up" data-aos-offset="250"data-aos-easing="ease-in-sine" data-aos-duration="800">
      <% if (params[:action] == 'contact') %>
      <br>
      <a href="#careers"><button class="btn-medium">Careers At Contour</button></a>
      <br>
      <% elsif (params[:action] == 'about') %>
      <br>
      <br>
      <a href="/services"><button class="btn-medium">Our Services</button></a>
      <a href="#testimonial"><button class="btn-medium">Client Testimonials</button></a>
      <% else %>
      <br>
      <br>
      <a href="#cards"><button class="btn-medium">Learn More</button></a>
      <a href="#testimonial"><button class="btn-medium">Client Testimonials</button></a>
      <% end %>
    </div>
  </div>
</div>
<br>

