<div class="wrapper-about">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 offset-md-4">
        <h1>About Contour</h1>
      </div>
    </div>
    <div class="row justify-content-around">
      <div class="col-12 col-md-10">
        <div class="about-text">
          <p>Contour Golf are traditional<strong> 'golf course construction' specialists</strong> with over a decade of experience in the golf construction market with work on three continents being completed with the minimum of fuss and the maximum satisfaction. In many ways <strong>Contour are unique;</strong> the most obvious being that this is the only golf construction company to be founded and run by a woman, Ingrid Eichler.</p>
        </div>
      </div>
    </div>
  </div>
</div>

