<div class="banner">
  <div class="banner-content">
    <h1><%= link_to image_tag('grouplogo.png'), class: "banner" %></h1>
    <h1></h1>
    <p>Golf course construction specialists &<br>
    experts in soil recovery/infill projects</p>
    <!-- <a class="btn-medium">Learn more</a> -->
  </div>
</div>

<div class="carousel slide carousel-fade" data-ride="carousel" data-interval="5000" data-pause="false">
  <div class="carousel-inner">
    <div class="carousel-item active" style="transition: transform 3s ease, opacity 1s ease-in-out">
      <img class="banner d-block w-100" alt="First slide">
    </div>
    <div class="carousel-item" style="transition: transform 3s ease, opacity 1s ease-in-out">
      <img class="banner1 d-block w-100" alt="Second slide">
    </div>
    <div class="carousel-item" style="transition: transform 3s ease, opacity 1s ease-in-out">
      <img class="banner2 d-block w-100" alt="Third slide">
    </div>
  </div>
</div>
