<div class="banner1">
  <div class="banner-content">
    <h1><%= link_to image_tag('grouplogo.png'), class: "banner-content" %></h1>
    <h1></h1>
    <p><span id="banner-typed-text"></span></p>
    <!-- <a class="btn-medium">Learn more</a> -->
  </div>
</div>

