<div class="banner1">
  <div class="banner-content">
    <h2 data-aos="fade" data-aos-delay="500" data-aos-easing="ease-in-out-sine" data-aos-duration="3000"><%= link_to image_tag('LogoWhite.png'), class: "banner-content" %></h2>
    <p data-aos="fade" data-aos-delay="1500" data-aos-offset="-600" data-aos-easing="ease-in-out-sine" data-aos-duration="2000">Traditional Golf Course Constructors & Experts In Soil Importation Projects <br>
    <!-- <a href="#about"><button id="myBtn">Learn More</button></a>
    <a href="#project"><button id="myBtn">Soil Recovery</button></a> --></p>
    <!-- <p><span id="banner-typed-text"></span></p> -->
    <!-- <a class="btn-medium">Learn more</a> -->
  </div>

</div>

