<div class="project-banner">
  <img class="project-banner-image" src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low/v1546880658/Contour/hiseman_contour-horsham_17th_bunkers.jpg" alt="Horsham Golf Course by Contour Golf">
  <div class="container-fluid">
    <div class="col-24 col-lg-7 col-md-12">
      <div class="project-title">
        <h1>Bunker Construction</h1>
        <p>Contour Golf has a wealth of experience in bunker construction, bunker remodelling and bunker renovation. Always considering the design and maintenance requirements of the client.</p>
        <a href="#project"><button id="myBtn">Learn More</button></a>
      </div>
    </div>
  </div>
</div>

<!-- divider added between landing page and more info -->
<div class="project-divide" id="divide">
  <h1 class="text-center" data-aos="fade-in" data-aos-offset="-200" data-aos-easing="ease-in-sine" data-aos-duration="1000">"Bunkers That Are Aesthetically Pleasing & Practical"</h1>
  <h4 class="text-bottom" data-aos="fade-in" data-aos-offset="-200" data-aos-easing="ease-in-sine" data-aos-duration="1000"><%= image_tag ('oaks_course_logo_white.png') %><i>Neil Burke - Owner</i></h4>
</div>
<div class="project-divide-banner"></div>

<!-- carousel added to projects -->
<div id="project"></div>
<div class="project-car-wrap">
  <div class="project-content">
    <h1>Bunker Design & Construction</h1>
    <h4>Combining Aesthetics & Practicality</h4>
    <p>The primary function of a bunker is to exact a penalty for a badly hit shot and as such they become a dictator in the strategy of the golf hole. They also provide an aesthetic and a guide to the fairway and green. Typically they account for less than 5% of the land on a golf course but can account for up to 25% of course maintenance costs. It is debatable whether it is the green keeper or golfer who is most upset about a water filled bunker.</p>
    <h4>Maintaining Budgets</h4>
    <p>Contour Golf takes bunker construction seriously and ensures that bunkers are able to drain quickly and efficiently in even the most severe of storms. Bunkers are constructed in such a way as to prevent inflow of water from surrounding areas yet are able to be visible, fair, aesthetically pleasing and blend in naturally with the surrounding area. Contour Golf is keenly aware of maintenance costs associated with bunkers and by working closely with the architect, client and green keeper insures that these costs are minimised.</p>
  </div>
  <div class="project-carousel" id="service">
    <img class="project-image" src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low/v1548941539/Contour/Contour_Golf_Bunker_Construction.jpg" alt="Contour Golf Ltd Bunker Construction">
    <img class="project-image" src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low/v1548941746/Contour/Contour_Golf_Bunker_Construction_2.jpg" alt="Contour Golf Ltd Bunker Construction">
    <img class="project-image" src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low/v1548941932/Contour/Contour_Golf_Bunker_Construction_3.jpg" alt="Contour Golf Ltd Bunker Construction">
    <img class="project-image" src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low/v1547821182/Contour/Balfron/hiseman_balfron_aug18_contour_golf-19.jpg" alt="Contour Golf Ltd Balfron Bunker Construction">
    <img class="project-image" src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low/v1549389144/Contour/hiseman_contour-golf_horsham_11th.jpg" alt="Horsham Golf Club 'The Oaks' by Contour Golf Ltd">
  </div>
</div>

<!-- links to website, articles and address -->
<div class="project-row">
  <div class="project-links">
    <%#= link_to image_tag('oaks_course_logo_white.png'), "https://www.horshamgolf.co.uk/", target: :_blank %>
    <%#= link_to image_tag('oaks_course_logo_white.png'), "https://www.horshamgolf.co.uk/", target: :_blank %>
    <%#= link_to image_tag('oaks_course_logo_white.png'), "https://www.horshamgolf.co.uk/", target: :_blank %>
  </div>
  <div class="project-address">
    <!-- <p>Horsham Golf & Fitness</p>
    <p>Denne Park House</p>
    <p>Worthing Road</p>
    <p>Horsham</p>
    <p>RH13 0AX</p>-->
  </div>
</div>
