<div class="container">
  <div class="row justify-content-around">
    <div class="col-12 col-md-5">
      <div class="design card">
        <div class="wrapper <%= 'wrapper-services' if params[:action] == 'services' %>">
          <div class="header">
            <div class="date">
              <span>Traditional</span>
            </div>
            <!-- <ul class="menu-content">
              <li><a href="#" class="fa fa-golf-ball"><span>18</span></a></li>
              <li><a href="#" class="fa fa-comment"><span>3</span></a></li>
            </ul> -->
          </div>
          <div class="data">
            <div class="content">
              <span class="author">Balfron Golf Society</span>
              <h2 class="title"><a href="#">Traditional Golf Course Construction</a></h2>
              <p class="text">From the rebuilding of a single hole to the design and build of an entire golf complex, our attention to detail is paramount.</p>
              <a href="#" class="button">Read more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-5">
      <div class="design card">
        <div class="wrapper2 <%= 'wrapper2-services' if params[:action] == 'services' %>">
          <div class="header">
            <div class="date">
              <span>Soil Recovery/Infill</span>
            </div>
            <!-- <ul class="menu-content">
              <li><a href="#" class="fa fa-snowplow"><span>18</span></a></li>
              <li><a href="#" class="fa fa-recycle"><span>3</span></a></li>
            </ul> -->
          </div>
          <div class="data">
            <div class="content">
              <span class="author">Horsham 'The Oaks' Golf Course</span>
              <h2 class="title"><a href="#">Soil Recovery/Infill Contruction</a></h2>
              <p class="text">Working with licensed and specialist soil importation companies, Contour can deliver a fully managed and efficient construction of a golf course infill project.</p>
              <a href="#" class="button">Learn more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
