<div class="carousel slide carousel-fade col-xs-12" data-ride="carousel" data-interval="5000" data-pause="false">
  <div class="carousel-inner">
    <div class="carousel-item active" style="transition: transform 3s ease, opacity 1s ease-in-out">
      <img class="picture1 d-block w-100" alt="First slide">
    </div>
    <div class="carousel-item" style="transition: transform 3s ease, opacity 1s ease-in-out">
      <img class="picture2 d-block w-100" alt="Second slide">
    </div>
    <div class="carousel-item" style="transition: transform 3s ease, opacity 1s ease-in-out">
      <img class="picture3 d-block w-100" alt="Third slide">
    </div>
  </div>
</div>
