<div class="wrapper-about" id="careers">
  <div class="container">
    <div class="row">
      <div class="col-24 col-md-12">
        <div data-aos="fade-left" data-aos-offset="0" data-aos-easing="ease-in-sine" data-aos-duration="800">
        <h2>Career Opportunities</h2>
        <h3>Like To Join An Experienced Team Of Highly Skilled Individuals?</h3>
        </div>
      </div>
    </div>
    <div class="row justify-content-around">
      <div class="col-24 col-md-24" data-aos="fade-up" data-aos-offset="00" data-aos-easing="ease-in-sine" data-aos-duration="800">
        <p>Contour Golf is always interested to hear from enthusiastic and motivated candidates looking to develop a career in Golf Course Construction. <br><br>Whether you already have experience in construction or you are looking to start out and develop a career in the industry, you should get in touch. <br><br>Simply send a copy of your cv to <a href="mailto:ingrid@contour-golf.com?Subject=Careers%20At%20Contour" target="_top">careers@contour-golf.com</a>.</p>
      </div>
    </div>
    <br>
    <br>
    <br>
  </div>
</div>
