<div class="contact-wrap">
  <div class="contact-content">
    <br>
    <h1 data-aos="fade" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="800">Contact Contour Golf Ltd</h1>
    <br>
    <p>Please get in touch with us for any golf course construction enquiries. We look forward to discussing your project.</p>
    <br>
    <br>
    <h5>Contact</h5>
    <p>Ingrid Eichler </p>
    <p><i class="fas fa-mobile-alt" style="margin-right: 7px;"></i> 07785 272935 </p>
    <p><i class="fas fa-phone-square"></i> 01327 879464 </p>
    <p><i class="far fa-envelope"></i>  ingrid@contour-golf.com </p>
    <br>
    <br>
    <p><i class="fas fa-map-marker-alt"></i> Office Address</p>
    <p>1 Jubilee Cottages, Norton Road, Daventry, Northants, NN11 5LS, ENGLAND</p>
  </div>
  <div class="contact-banner">
    <div class="contact-logo" data-aos="fade" data-aos-delay="200" data-aos-easing="ease-in-out-sine" data-aos-duration="2000"><%= link_to image_tag('LogoWhite.png') %></div>
  </div>

</div>
