<div class="contact-wrap" id="contact">
  <div class="contact-content">
    <br>
    <h1 data-aos="fade" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="800">Contour Golf Ltd</h1>
    <br>
    <p>Please get in touch with us for any golf course construction enquiries. We look forward to discussing your project.</p>
    <br>
    <br>
    <h5>Contact</h5>
    <p>Ingrid Eichler</p>
    <a href="tel:07785272935"><i class="fas fa-mobile-alt" style="margin-right: 7px;"></i> 07785 272935 </a>
    <a href="tel:01327879464"><i class="fas fa-phone-square"></i> 01327 879464 </a>
    <a href="mailto:ingrid@contour-golf.com?Subject=General%20enquiry" target="_top"><i class="far fa-envelope"></i>  ingrid@contour-golf.com </a>
    <br>
    <br>
    <p><i class="fas fa-map-marker-alt"></i> Office Address</p>
    <p>1 Jubilee Cottage &#8226; Norton Road &#8226; Daventry &#8226; Northants &#8226; NN11 2LS &#8226; ENGLAND</p>
  </div>
  <div class="contact-banner">
    <div class="contact-logo" data-aos="fade" data-aos-delay="200" data-aos-easing="ease-in-out-sine" data-aos-duration="2000"><%= link_to image_tag('LogoWhite.png') %></div>
  </div>
</div>
