<div class="machinery-wrap">
  <div class="machine-img">
    <img src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low/v1548334919/Contour/CAT_machines_Contour_Golf.png" alt="Contour Golf CAT Dozer and Excavators">
  </div>
  <div class="machinery-content">
    <div data-aos="fade-left" data-aos-offset="60" data-aos-easing="ease-in-sine" data-aos-duration="800">
      <h1>Machinery & Equipment</h1>
      <h3>Continually Investing In The Latest Equipment</h3>
    </div>
    <div data-aos="fade-up" data-aos-offset="60" data-aos-easing="ease-in-sine" data-aos-duration="800">
      <p>Contour Golf believe in investing into the latest and best in class machinery and equipment available for the demanding nature of golf course construction. This is demonstrated with a fleet of the latest CAT dozers and excavators all equipped with V-PAT (variable pitch, angle & tilt) blades and Power-Tilt hitches, allowing precision shaping and contouring. All of the machinery is fitted with LGP (low ground pressure) tracks or tyres, allowing even the most challenging of ground conditions to be operated on. This has enabled Contour to complete projects in various terrains from mountain bog to heavy clay.</p>
      <p>Finishing equipment is of the same calibre as the heavy earth moving machinery. Consisting of a fleet of the latest John Deere tractors, Toro bunker bikes, combined with Blec finishing tools and seeders. Contour is able to create the finest and highest standards of playing surfaces achieveable.</p>
      <p>Contour Golf owns and maintains all golf specific plant machinery, avoiding the availability risk of hire which can delay your project, indeed our reputation for maintaining a fleet (with a value currently in excess of £2m) of quality specialist machinery means we hire golf construction machinery to many other industry specialists.</p>
    </div>
  </div>
</div>
