<div class="machinery-wrap">
  <div class="machine-img">
    <img src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low/v1548334919/Contour/CAT_machines_Contour_Golf.png" alt="">
  </div>
  <div class="machinery-content">
    <h1 data-aos="fade-left" data-aos-offset="100" data-aos-easing="ease-in-sine" data-aos-duration="800">Machinery & Equipment</h1>
    <h3 data-aos="fade-left" data-aos-offset="60" data-aos-easing="ease-in-sine" data-aos-duration="800">Continually Investing In The Latest Equipment</h3>
    <p data-aos="fade-up" data-aos-offset="60" data-aos-easing="ease-in-sine" data-aos-duration="800">The new Cat® D6K dozer combines best-in-class fuel efficiency with the power and precision to excel in a wide range of jobs. This versatile bulldozer features a reliable power train and an overall design that is optimized for finish grading. And to boost your grading productivity even more, choose technology features like new Cat GRADE with Slope Assist™ that help you get more quality work done in less time.</p>
    <p data-aos="fade-up" data-aos-offset="60" data-aos-easing="ease-in-sine" data-aos-duration="800">Automatically maintain established blade mainfall/cross slope with Cat GRADE with Slope Assist (Standard). Finish jobs faster, with better surface quality and significantly less operator effort. No external hardware or GPS signal required.
    </p>
  </div>
</div>
