<div class="machinery-wrap">
  <div class="machine-img">
    <img src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low/v1548334919/Contour/CAT_machines_Contour_Golf.png" alt="">
  </div>
  <div class="machinery-content">
    <div data-aos="fade-left" data-aos-offset="60" data-aos-easing="ease-in-sine" data-aos-duration="800">
      <h1>Machinery & Equipment</h1>
      <h3>Continually Investing In The Latest Equipment</h3>
    </div>
    <div data-aos="fade-up" data-aos-offset="60" data-aos-easing="ease-in-sine" data-aos-duration="800">
      <p>Contour Golf believe in investing into the latest and best in class machinery and equipment available for the demanding nature of golf course construction. This is demonstrated with a fleet of the latest CAT dozers and excavators all equipped with V-PAT(variable pitch, angle & tilt) blades and Power-Tilt hitches, allowing precision shaping and contouring. All of the machinery is fitted with LGP(low ground pressure) tracks and or tyres, allowing even the most challenging of ground conditions to be operated on. This has enabled Contour to complete projects in various terrains from mountain bog to heavy clay. The new Cat® D6K dozer combines best-in-class fuel efficiency with the power and precision to excel in a wide range of jobs. This versatile bulldozer features a reliable power train and an overall design that is optimized for finish grading.</p>
      <p>Automatically maintain established blade mainfall/cross slope with Cat GRADE with Slope Assist (Standard). Finish jobs faster, with better surface quality and significantly less operator effort. No external hardware or GPS signal required.
      </p>
    </div>
  </div>
</div>
