<div class="portfolio-banner">
  <!-- <img class="portfolio-banner-image" src="" alt="Balfron Golf Course by Contour Golf"> -->
  <div class="container-fluid">
    <div class="col-24 col-lg-7 col-md-12">
      <div class="portfolio-title">
        <h1>Extensive Portfolio</h1>
        <p>Contour Golf Ltd comes equipped with more than 25 Years of experience in the golf course construction industry. We provide the knowledge and expertise for all aspects of golf course development. Including the ever increasingly popular 'Soil Import' or 'Land Fill' projects.</p>
        <h3>Our Previous Clients Include</h3>
        <ul>
          <li>Palmerston Golf Course, Ireland</li>
          <li>Fota Island, Ireland</li>
          <li>Grand Ducal, Luxembourg</li>
          <li>Studley Wood, UK</li>
          <li>Amsterdam International, Holland</li>
          <li>Hazel Grove Golf Club, England</li>
          <li>Kilworth Springs Golf Club, England</li>
          <li>The Kevin Duggan Academy, England</li>
          <li>The Abbey Golf, Hotel & CC, England</li>
          <li>Aston Wood Golf Club, England</li>
          <li>Kilsyth Lennox Golf Club, Scotland</li>
          <li>Wigan Golf Club, England</li>
          <li>Cork Golf Club, Ireland</li>
          <li>Blackley Golf Club, UK</li>
          <li>Magnolia Park Golf Club, England</li>
          <li>Vale do Lobo, Portugal</li>
          <li>Mt. Juliet Golf Club, Ireland</li>
          <li>Balfron Golfing Society, Scotland</li>
          <li>Bantry Bay Golf Club, Ireland</li>
          <li>Penwortham Golf Club, England</li>
          <li>The Grange Golf Club, Ireland</li>
        </ul>
        <!-- <button id="myBtn">Scroll To Learn More</button> -->
      </div>
    </div>
  </div>
</div>

<!-- Fota banner -->
<div class="portfolio-fota">
  <h1 class="title-col">Fota Island Golf Club Cork</h1>
  <p class="content-col">The outstanding natural landscapes of Fota Island Golf Club offer a golfing experience that’s simply unmatched in Ireland, let alone Cork. The golf club boasts three championship standard golf course configurations - the original Deerpark (Par 71), Belvelly (Par 72) and Barryscourt (Par 73). The championship Cork golf club was proud host to the 2001, 2002 and <strong>2014 Irish Open</strong>. In 2011 & 2012, the golf club also hosted the PGA Europro Audi Cork Irish Masters.</p>
</div>
<div class="fota-banner"></div>

<!-- Mt. Juliet banner -->
<div class="portfolio-juliet">
  <h1 class="title-col">Mt. Juliet Golf Club</h1>
  <p class="content-col">Designed by Jack Nicklaus, Mount Juliet Estate golf course first opened in 1991 with a friendly match between Jack Nicklaus and Christy O’Connor Snr. Since then, the course has established itself as a premier venue for all levels of golfer. This was highlighted when Mount Juliet played host to golfing legends Tiger Woods, Ernie Els, Sergio Garcia and Pádraig Harrington for the <strong>WGC American Express Golf Championship in September 2002 - and again in 2004</strong>.</p>
</div>
<div class="juliet-banner"></div>

<!-- Vale do Lobo banner -->
<div class="portfolio-vale">
  <h1 class="title-col">Vale Do Lobo Royal Golf Club</h1>
  <p class="content-col">Inaugurated in 1997, the Royal Golf Course was designed by top American golf architect Rocky Roquemore, based on the original drawings of Sir Henry Cotton. Recognised as one of Portugal’s most prestigious golf courses, its features include the almost island green of the 9th and the famous 16th, with cliff-top carryover – one of the most photographed holes in Europe.
  </p>
</div>
<div class="vale-banner"></div>

<!-- Palmerstown House banner -->
<div class="portfolio-palmerstown">
  <h1 class="title-col">Palmerstown House Estate</h1>
  <p class="content-col">Golfers of all skill levels will find enjoyment and challenge on our well-designed 18-hole championship course. This challenging course is set amidst thousands of mature trees that boast a variety of colour throughout all four seasons, and each hole has its own individual charm. The 7,419 yard Palmerstown House Estate's Course presents players with feelings of tradition, excellence and quality.
  </p>
</div>
<div class="palmerstown-banner"></div>

<!-- divider added between landing page and more info -->
<div class="portfolio-divide">
  <h1 class="portfolio-text-center" data-aos="fade-in" data-aos-offset="-100" data-aos-easing="ease-in-sine" data-aos-duration="1000">"Internationally Recognised & Established Golf Clubs"</h1>
  <!-- <h4 class="text-bottom" data-aos="fade-in" data-aos-offset="250" data-aos-easing="ease-in-sine" data-aos-duration="1000"><%#= image_tag ('Balfron Golf.png') %><i> Jeff Howes - Club Manager</i></h4> -->
</div>
<div class="portfolio-divide-banner"></div>

<!-- carousel added to projects -->

<!-- <div class="portfolio-car-wrap">
  <div class="portfolio-content">
    <h1>Balfron Golf Club</h1>
    <p>Contour Golf Ltd comes equipped with more than 25 Years of experience in the golf course construction industry. We provide the knowledge and expertise for all aspects of golf course development. Including the ever increasingly popular 'Soil Import' or 'Land Fill' projects.</p>
    <p>Contour Golf Ltd comes equipped with more than 25 Years of experience in the golf course construction industry. We provide the knowledge and expertise for all aspects of golf course development. Including the ever increasingly popular 'Soil Import' or 'Land Fill' projects.</p>
    <p>Contour Golf Ltd comes equipped with more than 25 Years of experience in the golf course construction industry. We provide the knowledge and expertise for all aspects of golf course development. Including the ever increasingly popular 'Soil Import' or 'Land Fill' projects.</p>
    <h4>A New Title</h4>
    <p>Contour Golf Ltd comes equipped with more than 25 Years of experience in the golf course construction industry. We provide the knowledge and expertise for all aspects of golf course development. Including the ever increasingly popular 'Soil Import' or 'Land Fill' projects.</p>
    <p>Contour Golf Ltd comes equipped with more than 25 Years of experience in the golf course construction industry. We provide the knowledge and expertise for all aspects of golf course development. Including the ever increasingly popular 'Soil Import' or 'Land Fill' projects.</p>
    <h4>A New Title</h4>
    <p>Contour Golf Ltd comes equipped with more than 25 Years of experience in the golf course construction industry. We provide the knowledge and expertise for all aspects of golf course development. Including the ever increasingly popular 'Soil Import' or 'Land Fill' projects.</p>
    <p>Contour Golf Ltd comes equipped with more than 25 Years of experience in the golf course construction industry. We provide the knowledge and expertise for all aspects of golf course development. Including the ever increasingly popular 'Soil Import' or 'Land Fill' projects.</p>
  </div> -->
  <div class="portfolio-carousel">
    <img class="portfolio-image" src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low/v1545588302/Contour/hiseman_balfron_aug18_contour-21.jpg" alt="Balfron Golf Society by Contour Golf Ltd">
    <img class="portfolio-image" src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low/v1546972760/Contour/hiseman_balfron_aug18_contour_10.jpg" alt="Balfron Golf Society by Contour Golf Ltd">
    <img class="portfolio-image" src="https://res.cloudinary.com/lwsw18ldn/image/upload/v1547820887/Contour/Balfron/hiseman_balfron_aug18_contour_golf-6.jpg" alt="Balfron Golf Society by Contour Golf Ltd">
    <img class="portfolio-image" src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low/v1545211424/Contour/hiseman_balfron_aug18_contour.jpg" alt="Balfron Golf Society by Contour Golf Ltd">
    <img class="portfolio-image" src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low/v1547820078/Contour/hiseman_balfron_aug18_contour_golf-24.jpg" alt="Balfron Golf Society by Contour Golf Ltd">
    <img class="portfolio-image" src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low/v1547820631/Contour/Balfron/hiseman_balfron_aug18_contour_golf-20.jpg" alt="Balfron Golf Society by Contour Golf Ltd">
    <img class="portfolio-image" src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low/v1547821293/Contour/Balfron/hiseman_balfron_aug18_contour_golf-3.jpg" alt="Balfron Golf Society by Contour Golf Ltd">
  </div>
</div>

<!-- links to website, articles and address -->
<div class="portfolio-row">
  <div class="portfolio-links">
    <%#= link_to image_tag('oaks_course_logo_white.png'), "https://www.horshamgolf.co.uk/", target: :_blank %>
    <%#= link_to image_tag('oaks_course_logo_white.png'), "https://www.horshamgolf.co.uk/", target: :_blank %>
    <%#= link_to image_tag('oaks_course_logo_white.png'), "https://www.horshamgolf.co.uk/", target: :_blank %>
  </div>
  <!-- <div class="portfolio-address">
    <p>Balfron Golf Society</p>
    <p>Kepculloch Rd</p>
    <p>Balfron</p>
    <p>Glasgow</p>
    <p>G63 0SZ</p>
  </div> -->
</div>


