<div class="project-banner">
  <img class="project-banner-image" src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low/v1547818978/Contour/hiseman_balfron_aug18_contour_golf-15.jpg" alt="Balfron Golf Course by Contour Golf">
  <div class="container-fluid">
    <div class="col-24 col-lg-7 col-md-12">
      <div class="project-title">
        <h1>Balfron Golf Society</h1>
        <p>Contour Golf Ltd comes equipped with more than 25 Years of experience in the golf course construction industry. We provide the knowledge and expertise for all aspects of golf course development. Including the ever increasingly popular 'Soil Import' or 'Land Fill' projects.</p>
        <button id="myBtn">Scroll To Learn More</button>
      </div>
    </div>
  </div>
</div>

<!-- divider added between landing page and more info -->
<div class="project-divide">
  <h1 class="text-center" data-aos="fade-in" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="1000">"Perfectly & Seamlessly Blended Into The Landscape"</h1>
  <h4 class="text-bottom" data-aos="fade-in" data-aos-offset="250" data-aos-easing="ease-in-sine" data-aos-duration="1000"><%= image_tag ('Balfron Golf.png') %><i> Jeff Howes - Club Manager</i></h4>
</div>
<div class="project-divide-banner"></div>

<!-- carousel added to projects -->

<div class="project-car-wrap">
  <div class="project-content">
    <h1>Balfron Golf Club</h1>
    <p>Contour Golf Ltd comes equipped with more than 25 Years of experience in the golf course construction industry. We provide the knowledge and expertise for all aspects of golf course development. Including the ever increasingly popular 'Soil Import' or 'Land Fill' projects.</p>
    <p>Contour Golf Ltd comes equipped with more than 25 Years of experience in the golf course construction industry. We provide the knowledge and expertise for all aspects of golf course development. Including the ever increasingly popular 'Soil Import' or 'Land Fill' projects.</p>
    <p>Contour Golf Ltd comes equipped with more than 25 Years of experience in the golf course construction industry. We provide the knowledge and expertise for all aspects of golf course development. Including the ever increasingly popular 'Soil Import' or 'Land Fill' projects.</p>
    <h4>A New Title</h4>
    <p>Contour Golf Ltd comes equipped with more than 25 Years of experience in the golf course construction industry. We provide the knowledge and expertise for all aspects of golf course development. Including the ever increasingly popular 'Soil Import' or 'Land Fill' projects.</p>
    <p>Contour Golf Ltd comes equipped with more than 25 Years of experience in the golf course construction industry. We provide the knowledge and expertise for all aspects of golf course development. Including the ever increasingly popular 'Soil Import' or 'Land Fill' projects.</p>
    <h4>A New Title</h4>
    <p>Contour Golf Ltd comes equipped with more than 25 Years of experience in the golf course construction industry. We provide the knowledge and expertise for all aspects of golf course development. Including the ever increasingly popular 'Soil Import' or 'Land Fill' projects.</p>
    <p>Contour Golf Ltd comes equipped with more than 25 Years of experience in the golf course construction industry. We provide the knowledge and expertise for all aspects of golf course development. Including the ever increasingly popular 'Soil Import' or 'Land Fill' projects.</p>
  </div>
  <div class="project-carousel" id="service">
    <img class="project-image" src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low/v1545588302/Contour/hiseman_balfron_aug18_contour-21.jpg" alt="Balfron Golf Society by Contour Golf Ltd">
    <img class="project-image" src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low/v1546972760/Contour/hiseman_balfron_aug18_contour_10.jpg" alt="Balfron Golf Society by Contour Golf Ltd">
    <img class="project-image" src="https://res.cloudinary.com/lwsw18ldn/image/upload/v1547820887/Contour/Balfron/hiseman_balfron_aug18_contour_golf-6.jpg" alt="Balfron Golf Society by Contour Golf Ltd">
    <img class="project-image" src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low/v1545211424/Contour/hiseman_balfron_aug18_contour.jpg" alt="Balfron Golf Society by Contour Golf Ltd">
    <img class="project-image" src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low/v1547820078/Contour/hiseman_balfron_aug18_contour_golf-24.jpg" alt="Balfron Golf Society by Contour Golf Ltd">
    <img class="project-image" src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low/v1547820631/Contour/Balfron/hiseman_balfron_aug18_contour_golf-20.jpg" alt="Balfron Golf Society by Contour Golf Ltd">
    <img class="project-image" src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low/v1547821293/Contour/Balfron/hiseman_balfron_aug18_contour_golf-3.jpg" alt="Balfron Golf Society by Contour Golf Ltd">
  </div>
</div>

<!-- links to website, articles and address -->
<div class="project-row">
  <div class="project-links">
    <%= link_to image_tag('oaks_course_logo_white.png'), "https://www.horshamgolf.co.uk/", target: :_blank %>
    <%= link_to image_tag('oaks_course_logo_white.png'), "https://www.horshamgolf.co.uk/", target: :_blank %>
    <%= link_to image_tag('oaks_course_logo_white.png'), "https://www.horshamgolf.co.uk/", target: :_blank %>
  </div>
  <div class="project-address">
    <p>Balfron Golf Society</p>
    <p>Kepculloch Rd</p>
    <p>Balfron</p>
    <p>Glasgow</p>
    <p>G63 0SZ</p>
  </div>
</div>


