<div class="project-banner">
  <img class="project-banner-image" src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low/v1544799168/Contour/hiseman_contour-12th-horsham.jpg" alt="Horsham Golf Course by Contour Golf">
  <div class="container-fluid">
    <div class="col-24 col-lg-7 col-md-12">
      <div class="project-title">
        <h1>Horsham 'The Oaks'</h1>
        <p>The Oaks course is an 18 hole 6111 yard course that meanders through mature woodland. With 5 choices of tee box the course offers a challenge to golfers from all abilities. The course was designed by <a href="http://www.sparksandmyers.co.uk/" target="blank">Golf Architects Sparks and Myers.</a></p>
        <a href="#project"><button id="myBtn">Learn More</button></a>
      </div>
    </div>
  </div>
</div>

<!-- divider added between landing page and more info -->
<div class="project-divide" id="divide">
  <h1 class="text-center" data-aos="fade-in" data-aos-offset="-200" data-aos-easing="ease-in-sine" data-aos-duration="1000">"Beautifully Designed & Constructed Golf Course"</h1>
  <h4 class="text-bottom" data-aos="fade-in" data-aos-offset="-200" data-aos-easing="ease-in-sine" data-aos-duration="1000"><%= image_tag ('oaks_course_logo_white.png') %><i>Neil Burke - Owner</i></h4>
</div>
<div class="project-divide-banner"></div>

<!-- carousel added to projects -->
<div id="project"></div>
<div class="project-car-wrap">
  <div class="project-content">
    <h1>Horsham 'The Oaks & Firs'</h1>
    <h4>Soil Importation Scheme</h4>
    <p>Contour Golf completed the construction of the "Oaks‟ and “Firs” course in 2014, the culmination of a soil importation scheme that started in 2010 where over 550,000 cubic metres of soil was brought in to provide the medium for shaping and sculpting a modern yet traditional course.</p>
    <h4>'The Oaks'</h4>
    <p>The Oaks course is an 18 hole 6111 yard course that meanders through mature woodland. With 5 choices of tee box the course offers a challenge to golfers from all abilities.
    The course was designed by <a href="http://www.sparksandmyers.co.uk/">Golf Architects Sparks and Myers.</a></p>
    <p>The greens have been constructed to USGA specification providing an all year round playing surface.
    As well as a very extensive drainage system, an irrigation system was installed to provide irrigation to all tees, greens and approaches.</p>
    <h4>'The Firs'</h4>
    <p>The 'Firs' is a 9 hole par three course over 959 yards. It is an ideal facility for beginners but also offers an op- portunity for more experienced golf- ers who are short on time to improve their game.</p>
    <h4>The Process</h4>
    <p>During the construction process Contour Golf worked closely with their client Horsham Leisure. They provided a turn key solution including the management of all imported material, shaping, seeding and cultivations. Contour understood the need for and was proactive in liasing with statutory bodies including the local authority and the environment agency</p>
    <p>Contour Golf undertook the infrastructure works at Horsham to provide maintenance and buggy paths.</p>
    <h4>The Owner</h4>
    <p>Contour Golf undertook the project for Horsham Leisure with a remit to implement a consent gained in 2010 for the two new courses. The project included the recovery and import of 550,000 cubic meters of inert soil to form the new golf facilities. Contour golf facilitated the collaboration and integration of the imported soil with ‘traditional’ golf course build techniques to create a built form that appears mature and established whilst having an infrastructure that is cutting edge in design, from materials, greens and tees mediums and substructure, to contemporary drainage and irrigation systems.</p>
    <h4>Contour Golf Ltd Provides Construction Expertise</h4>
    <p>Horsham Leisure worked with Contour Golf to provide the all ‘under one roof’ construction solutions, including the complex management of new soils to the site ie storage, distribution and shaping through to final finishing. Contour managed the use of exiting top soils, striping, storing and re using. Contour understood the need for liaison with statutory bodies including the local authority, environment agency and the many ecology issues associated with such an extensive ‘green’ area.</p>
    <h4>Project Summary</h4>
    <p>Horsham Leisure completed the construction of ‘The Oaks’ and ‘The Firs’ courses using imported inert soils over the period 2010-13 the project included construction of 27 holes. The oaks course being an 18 hole layout (6111 yds) incorporating 5 different length courses ie 5 tee positions, extensive approach and run off areas around greens and full specification USGA putting surfaces with full irrigation system to all tees, greens and approaches. The firs and short game area is a 9 hole par 3 course over 959 yds with synthetic tees and lower spec but irrigated greens plus two full specification chipping/pitching greens and associated facilities. In addition across the 160 acre site we have drained all playing surfaces and built 3 new lakes.</p>
  </div>
  <div class="project-carousel" id="service">
    <img class="project-image" src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low/v1548945294/Contour/hiseman_contour-horsham_golf_17th.jpg" alt="Horsham Golf Club 'The Oaks' by Contour Golf Ltd">
    <img class="project-image" src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low/v1545586932/Contour/hiseman_contour_golf_horsham_4th.jpg" alt="Horsham Golf Club 'The Oaks' by Contour Golf Ltd">
    <img class="project-image" src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low/v1547822194/Contour/hiseman_contour-horsham_contour_golf-1st.jpg" alt="Horsham Golf Club 'The Oaks' by Contour Golf Ltd">
    <img class="project-image" src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low/v1545211783/Contour/hiseman_contour-horsham-14th.jpg" alt="Horsham Golf Club 'The Oaks' by Contour Golf Ltd">
    <img class="project-image" src="https://res.cloudinary.com/lwsw18ldn/image/upload/v1547036328/Contour/hiseman_contour_golf_horsham_4th_lake.jpg" alt="Horsham Golf Club 'The Oaks' by Contour Golf Ltd">
    <img class="project-image" src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low/v1547822568/Contour/hiseman_contour-horsham_contour_golf-1st_tee.jpg" alt="Horsham Golf Club 'The Oaks' by Contour Golf Ltd">
    <img class="project-image" src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low/v1549388039/Contour/Horsham_12th_Fairway_Contour_Golf_Finishing.jpg" alt="Horsham Golf Club 'The Oaks' by Contour Golf Ltd">
  </div>
</div>

<!-- links to website, articles and address -->
<div class="project-row">
  <div class="project-links">
    <%= link_to image_tag('facebook_logo.png'), "https://en-gb.facebook.com/HorshamGF/", target: :_blank %>
    <%= link_to image_tag('twitter_logo.png'), "https://twitter.com/horshamgf?lang=en", target: :_blank %>
    <%= link_to image_tag('oaks_course_logo_white.png'), "https://www.horshamgolf.co.uk/", target: :_blank %>
  </div>
  <div class="project-address">
    <p>Horsham Golf & Fitness</p>
    <p>Denne Park House</p>
    <p>Worthing Road</p>
    <p>Horsham</p>
    <p>RH13 0AX</p>
  </div>
</div>
