<div class="project-banner">
  <img class="project-banner-image" src="https://res.cloudinary.com/lwsw18ldn/image/upload/v1549013233/Contour/Radlett_Driving_Range_Contour_Golf.jpg" alt="Radlett Golf Center Driving Range by Contour Golf">
  <div class="container-fluid">
    <div class="col-24 col-lg-7 col-md-12">
      <div class="project-title">
        <h1>Radlett Golf Centre</h1>
        <p>Situated inside the M25, to the north of London, Radlett Golf Facility is located in a green and leafy setting but has the advantage of being close to a huge population centre.</p>
        <a href="#project"><button id="myBtn">Learn More</button></a>
      </div>
    </div>
  </div>
</div>

<!-- divider added between landing page and more info -->
<div class="project-divide" id="divide">
  <h1 class="text-center" data-aos="fade-in" data-aos-offset="-200" data-aos-easing="ease-in-sine" data-aos-duration="1000">"A Complete Transformation & Modernised Facility"</h1>
  <h4 class="text-bottom" data-aos="fade-in" data-aos-offset="-200" data-aos-easing="ease-in-sine" data-aos-duration="1000"><%#= image_tag ('oaks_course_logo_white.png') %><i>Graham Atkinson- Owner</i></h4>
</div>
<div class="project-divide-banner"></div>

<!-- carousel added to projects -->
<div id="project"></div>
<div class="project-car-wrap">
  <div class="project-content">
    <h1>Radlett Golf Centre</h1>
    <h4>Transformed From A Vision</h4>
    <p>The lease on the golf range is held by Graham Atkinson a PGA professional of many years standing. Although the centre made a modest income Graham had the vision of transforming the facility into one that would become a centre of excellence and one that would maximise revenue.</p>
    <p>After a substantial period of time planning the strategy, Graham, in conjunction with <a href="https://londonrock.co.uk/land_golf_course_feasibility.html" target="blank">London Rock</a> and Contour Golf, set about transforming his modest outfield into a beautiful landscape.</p>
    <p>Work began in March 2015 with just under 40,000 m3 of material being imported over a 5 month period. The material was shaped to form the features, drainage was put in and the area was then cultivated and seeded.</p>
    <h4>Jim Jeffries of London Rock</h4>
    <p>"This was a relatively small scale project for our company, but being just a few miles from our head office it was a great opportunity for us to showcase our services close to our base. We worked very closely with Ingrid, from Contour Golf, and Graham Atkinson, the client. This strong working relationship ensured that the project went smoothly and the golf operation was able to continue throughout the process. This was a major benefit to our client and to his customers, as good levels of service and revenue were maintained during the project. We are delighted with the way the finished product looks and performs.</p>
    <h4>Ingrid Eichler of Contour Golf</h4>
    <p>"Jim Jeffries from London Rock and the client, Graham Atkinson, both worked together well on the whole project. We understood from the start that we only had a limited period of time to import material and only a limited amount of material to work with. As we were involved throughout, we were able to ensure that the imported material was immediately distributed and shaped to its best advantage as soon as it arrived on site. Often we are called in after the importation has started and we have to waste huge amounts of time (and clients' money) just moving and sorting soil, before we can create the desired golfing landscape. Working in this way ensures that the client pays far less and so fees from importation can be retained by them, rather than being spent getting us to retro-sort the imported materials. We are really impressed with how the finished range looks and - best of all - our client is delighted."</p>
    <h4>Graham Atkinson, the Client</h4>
    <p>"Looking back on the project, it was very straightforward, but prior to starting it was a much bigger deal. There was no guarantee that the project would finish up as well as it has and I didn't think we would be able to continue to trade as effectively as we have been able to throughout the process. What we have today is a truly outstanding outfield, with a natural golfing landscape that is a joy to hit into. Jim and Ingrid and their respective teams were very sensitive to our needs and I would recommend them both to any other operator without reservation. Staying open throughout the process was a real game changer too, as we were able to retain most of our custom and our teaching service was largely unaffected. Without the close cooperation of the construction team, this would have been unworkable."</p>
  </div>
  <div class="project-carousel" id="service">
    <img class="project-image" src="https://res.cloudinary.com/lwsw18ldn/image/upload/v1549013195/Contour/Radlett_Golf_Center_Contour.jpg" alt="Radlett Golf Center Driving Range by Contour Golf Ltd">
    <img class="project-image" src="https://res.cloudinary.com/lwsw18ldn/image/upload/v1549013137/Contour/Radlett_Golf_Center_Contour_Golf.jpg" alt="Radlett Golf Center Driving Range by Contour Golf Ltd">
    <img class="project-image" src="https://res.cloudinary.com/lwsw18ldn/image/upload/v1549013233/Contour/Radlett_Driving_Range_Contour_Golf.jpg" alt="Radlett Golf Center Driving Range by Contour Golf Ltd">
  </div>
</div>

<!-- links to website, articles and address -->
<div class="project-row">
  <div class="project-links">
    <%= link_to image_tag('facebook_logo.png'), "https://en-gb.facebook.com/pages/category/Golf-Course---Country-Club/Radlett-Golf-Centre-221045981244847/", target: :_blank %>
    <%#= link_to image_tag('oaks_course_logo_white.png'), "https://www.horshamgolf.co.uk/", target: :_blank %>
    <%#= link_to image_tag('oaks_course_logo_white.png'), "https://www.horshamgolf.co.uk/", target: :_blank %>
  </div>
  <div class="project-address">
    <p>Radlett Golf Center</p>
    <p>Harper Lane</p>
    <p>Radlett</p>
    <p>WD7 7HU</p>
  </div>
</div>
