<div class="project-banner">
  <img class="project-banner-image" src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low/v1544799168/Contour/hiseman_contour-12th-horsham.jpg" alt="Horsham Golf Course by Contour Golf">
  <div class="container-fluid">
    <div class="col-24 col-lg-7 col-md-12">
      <div class="project-title">
        <h1>Horsham 'The Oaks'</h1>
        <p>Contour Golf Ltd comes equipped with more than 25 Years of experience in the golf course construction industry. We provide the knowledge and expertise for all aspects of golf course development. Including the ever increasingly popular 'Soil Import' or 'Land Fill' projects.</p>
        <button id="myBtn">Scroll To Learn More</button>
      </div>
    </div>
  </div>
</div>

<!-- divider added between landing page and more info -->
<div class="project-divide">
  <h1 class="text-center" data-aos="fade-in" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="1000">"Beautifully Designed & Constructed Golf Course"</h1>
  <h4 class="text-bottom" data-aos="fade-in" data-aos-offset="250" data-aos-easing="ease-in-sine" data-aos-duration="1000"><%= image_tag ('oaks_course_logo_white.png') %><i>Neil Burke - Owner</i></h4>
</div>
<div class="project-divide-banner"></div>

<!-- carousel added to projects -->

<div class="project-car-wrap">
  <div class="project-content">
    <h1>Horsham 'The Oaks & Firs'</h1>
    <h4>Soil Importation Scheme</h4>
    <p>Contour Golf completed the construction of the "Oaks‟ and “Firs” course in 2014, the culmination of a soil importation scheme that started in 2010 where over 550,000 cubic metres of soil was brought in to provide the medium for shaping and sculpting a modern yet traditional course.</p>
    <p>Construction of the ‘Oaks’ course, ‘Firs’ course and associated practise facilities, putting green and short game area was undertaken over a 4 year period commencing in 2012 across a 160 acres site south of Horsham. Originally the land compromised a 9 hole 2500 yds course, built in 1993, and an adjoining Stud farm.</p>
    <p>Contour Golf undertook the project for Horsham Leisure with a remit to implement a consent gained in 2010 for the two new courses. The project included the recovery and import of 550,000 cubic meters of inert soil to form the new golf facilities. Contour golf facilitated the collaboration and integration of the imported soil with ‘traditional’ golf course build techniques to create a built form that appears mature and established whilst having an infrastructure that is cutting edge in design, from materials, greens and tees mediums and substructure, to contemporary drainage and irrigation systems.</p>
    <h4>Contour Golf Ltd Provides Construction Expertise</h4>
    <p>Horsham Leisure worked with Contour Golf to provide the all ‘under one roof’ construction solutions, including the complex management of new soils to the site ie storage, distribution and shaping through to final finishing. Contour managed the use of exiting top soils, striping, storing and re using. Contour understood the need for liaison with statutory bodies including the local authority, environment agency and the many ecology issues associated with such an extensive ‘green’ area.</p>
    <h4>The Project</h4>
    <p>Horsham Leisure completed the construction of ‘the oaks’ and ‘firs’ course using imported inert soils over the period 2010-13 the project included construction of 27 holes. The oaks course being an 18 hole layout (6111 yds) incorporating 5 different length courses ie 5 tee positions, extensive approach and run off areas around greens and full specification USGA putting surfaces with full irrigation system to all tees, greens and approaches. The firs and short game area is a 9 hole par 3 course over 959 yds with synthetic tees and lower spec but irrigated greens plus two full specification chipping/pitching greens and associated facilities. In addition across the 160 acre site we have drained all playing surfaces and built 3 new lakes.</p>
    <h4>A New Title</h4>
    <p>Contour Golf Ltd comes equipped with more than 25 Years of experience in the golf course construction industry. We provide the knowledge and expertise for all aspects of golf course development. Including the ever increasingly popular 'Soil Import' or 'Land Fill' projects.</p>
    <p>Contour Golf Ltd comes equipped with more than 25 Years of experience in the golf course construction industry. We provide the knowledge and expertise for all aspects of golf course development. Including the ever increasingly popular 'Soil Import' or 'Land Fill' projects.</p>
    <p>Contour Golf Ltd comes equipped with more than 25 Years of experience in the golf course construction industry. We provide the knowledge and expertise for all aspects of golf course development. Including the ever increasingly popular 'Soil Import' or 'Land Fill' projects.</p>
    <h4>A New Title</h4>
    <p>Contour Golf Ltd comes equipped with more than 25 Years of experience in the golf course construction industry. We provide the knowledge and expertise for all aspects of golf course development. Including the ever increasingly popular 'Soil Import' or 'Land Fill' projects.</p>
    <p>Contour Golf Ltd comes equipped with more than 25 Years of experience in the golf course construction industry. We provide the knowledge and expertise for all aspects of golf course development. Including the ever increasingly popular 'Soil Import' or 'Land Fill' projects.</p>
  </div>
  <div class="project-carousel" id="service">
    <img class="project-image" src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low/v1544799168/Contour/hiseman_contour-12th-horsham.jpg" alt="Horsham Golf Club 'The Oaks' by Contour Golf Ltd">
    <img class="project-image" src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low/v1545586932/Contour/hiseman_contour_golf_horsham_4th.jpg" alt="Horsham Golf Club 'The Oaks' by Contour Golf Ltd">
    <img class="project-image" src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low/v1547822194/Contour/hiseman_contour-horsham_contour_golf-1st.jpg" alt="Horsham Golf Club 'The Oaks' by Contour Golf Ltd">
    <img class="project-image" src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low/v1545211783/Contour/hiseman_contour-horsham-14th.jpg" alt="Horsham Golf Club 'The Oaks' by Contour Golf Ltd">
    <img class="project-image" src="https://res.cloudinary.com/lwsw18ldn/image/upload/v1547036328/Contour/hiseman_contour_golf_horsham_4th_lake.jpg" alt="Horsham Golf Club 'The Oaks' by Contour Golf Ltd">
    <img class="project-image" src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low/v1547822568/Contour/hiseman_contour-horsham_contour_golf-1st_tee.jpg" alt="Horsham Golf Club 'The Oaks' by Contour Golf Ltd">
  </div>
</div>

<!-- links to website, articles and address -->
<div class="project-row">
  <div class="project-links">
    <%= link_to image_tag('oaks_course_logo_white.png'), "https://www.horshamgolf.co.uk/", target: :_blank %>
    <%= link_to image_tag('oaks_course_logo_white.png'), "https://www.horshamgolf.co.uk/", target: :_blank %>
    <%= link_to image_tag('oaks_course_logo_white.png'), "https://www.horshamgolf.co.uk/", target: :_blank %>
  </div>
  <div class="project-address">
    <p>Horsham Golf & Fitness</p>
    <p>Denne Park House</p>
    <p>Worthing Road</p>
    <p>Horsham</p>
    <p>RH13 0AX</p>
  </div>
</div>
