<div class="project-banner">
  <img class="project-banner-image" src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low/v1547826959/Contour/Radlett/hiseman_contour-horsham_contour_golf_driving_range.jpg" alt="Horsham Golf Driving Range by Contour Golf">
  <div class="container-fluid">
    <div class="col-24 col-lg-7 col-md-12">
      <div class="project-title">
        <h1>Radlett Golf Center</h1>
        <p>Contour Golf Ltd comes equipped with more than 25 Years of experience in the golf course construction industry. We provide the knowledge and expertise for all aspects of golf course development. Including the ever increasingly popular 'Soil Import' or 'Land Fill' projects.</p>
        <button id="myBtn">Scroll To Learn More</button>
      </div>
    </div>
  </div>
</div>

<!-- divider added between landing page and more info -->
<div class="project-divide">
  <h1 class="text-center" data-aos="fade-in" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="1000">"A Complete Transformation & Modernised Facility"</h1>
  <h4 class="text-bottom" data-aos="fade-in" data-aos-offset="250" data-aos-easing="ease-in-sine" data-aos-duration="1000"><%= image_tag ('oaks_course_logo_white.png') %><i>Graham - Owner</i></h4>
</div>
<div class="project-divide-banner"></div>

<!-- carousel added to projects -->

<div class="project-car-wrap">
  <div class="project-content">
    <h1>Radlett Golf Center</h1>
    <p>Contour Golf Ltd comes equipped with more than 25 Years of experience in the golf course construction industry. We provide the knowledge and expertise for all aspects of golf course development. Including the ever increasingly popular 'Soil Import' or 'Land Fill' projects.</p>
    <p>Contour Golf Ltd comes equipped with more than 25 Years of experience in the golf course construction industry. We provide the knowledge and expertise for all aspects of golf course development. Including the ever increasingly popular 'Soil Import' or 'Land Fill' projects.</p>
    <p>Contour Golf Ltd comes equipped with more than 25 Years of experience in the golf course construction industry. We provide the knowledge and expertise for all aspects of golf course development. Including the ever increasingly popular 'Soil Import' or 'Land Fill' projects.</p>
    <h4>A New Title</h4>
    <p>Contour Golf Ltd comes equipped with more than 25 Years of experience in the golf course construction industry. We provide the knowledge and expertise for all aspects of golf course development. Including the ever increasingly popular 'Soil Import' or 'Land Fill' projects.</p>
    <p>Contour Golf Ltd comes equipped with more than 25 Years of experience in the golf course construction industry. We provide the knowledge and expertise for all aspects of golf course development. Including the ever increasingly popular 'Soil Import' or 'Land Fill' projects.</p>
    <h4>A New Title</h4>
    <p>Contour Golf Ltd comes equipped with more than 25 Years of experience in the golf course construction industry. We provide the knowledge and expertise for all aspects of golf course development. Including the ever increasingly popular 'Soil Import' or 'Land Fill' projects.</p>
    <p>Contour Golf Ltd comes equipped with more than 25 Years of experience in the golf course construction industry. We provide the knowledge and expertise for all aspects of golf course development. Including the ever increasingly popular 'Soil Import' or 'Land Fill' projects.</p>
  </div>
  <div class="project-carousel" id="service">
    <img class="project-image" src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low/v1544799168/Contour/hiseman_contour-12th-horsham.jpg" alt="Horsham Golf Club 'The Oaks' by Contour Golf Ltd">
    <img class="project-image" src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low/v1545586932/Contour/hiseman_contour_golf_horsham_4th.jpg" alt="Horsham Golf Club 'The Oaks' by Contour Golf Ltd">
    <img class="project-image" src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low/v1547822194/Contour/hiseman_contour-horsham_contour_golf-1st.jpg" alt="Horsham Golf Club 'The Oaks' by Contour Golf Ltd">
    <img class="project-image" src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low/v1545211783/Contour/hiseman_contour-horsham-14th.jpg" alt="Horsham Golf Club 'The Oaks' by Contour Golf Ltd">
    <img class="project-image" src="https://res.cloudinary.com/lwsw18ldn/image/upload/v1547036328/Contour/hiseman_contour_golf_horsham_4th_lake.jpg" alt="Horsham Golf Club 'The Oaks' by Contour Golf Ltd">
    <img class="project-image" src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low/v1547822568/Contour/hiseman_contour-horsham_contour_golf-1st_tee.jpg" alt="Horsham Golf Club 'The Oaks' by Contour Golf Ltd">
  </div>
</div>

<!-- links to website, articles and address -->
<div class="project-row">
  <div class="project-links">
    <%= link_to image_tag('oaks_course_logo_white.png'), "https://www.horshamgolf.co.uk/", target: :_blank %>
    <%= link_to image_tag('oaks_course_logo_white.png'), "https://www.horshamgolf.co.uk/", target: :_blank %>
    <%= link_to image_tag('oaks_course_logo_white.png'), "https://www.horshamgolf.co.uk/", target: :_blank %>
  </div>
  <div class="project-address">
    <p>Radlett Golf Center</p>
    <p>Harper Lane</p>
    <p>Radlett</p>
    <p>WD7 7HU</p>
  </div>
</div>
