<div class="project-banner">
  <img class="project-banner-image" src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low/v1547826959/Contour/Radlett/hiseman_contour-horsham_contour_golf_driving_range.jpg" alt="Horsham Golf Driving Range by Contour Golf">
  <div class="container-fluid">
    <div class="col-24 col-lg-7 col-md-12">
      <div class="project-title">
        <h1>Leicester Golf Center</h1>
        <p>Oadby Golf Course was developed and first opened in 1974. Contour was engaged to bring the facility back up to modern standards. Now voted No.3 best driving range in the UK!</p>
        <button id="myBtn">Scroll To Learn More</button>
      </div>
    </div>
  </div>
</div>

<!-- divider added between landing page and more info -->
<div class="project-divide">
  <h1 class="text-center" data-aos="fade-in" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="1000">"The Results Really Speak For Themself"</h1>
  <h4 class="text-bottom" data-aos="fade-in" data-aos-offset="250" data-aos-easing="ease-in-sine" data-aos-duration="1000"><%= image_tag ('oaks_course_logo_white.png') %><i>David - Owner</i></h4>
</div>
<div class="project-divide-banner"></div>

<!-- carousel added to projects -->

<div class="project-car-wrap">
  <div class="project-content">
    <h1>Leicester Golf Center</h1>
    <h4>New Owners With Big Ambitions</h4>
    <p>The golf course and its adjoining clubhouse facilities were operated by Oadby & Wigston Borough Council under a lease which commenced in April 1974 and ended in April 2012 after the council stated that it could no longer afford to subsidise the losses it was making.</p>
    <p>Anders Mankert, a highly acclaimed PGA golf professional ,took over the lease of the golf course in March 2018. This was a new venture for Mankert who, when interviewed by the Leicester Mecury stated “It has always been a dream of mine to run my own course. So I am delighted to be reopening Oadby. However, there is a lot to do to bring it back to playing standard. This will involve building 2 new tees and greens, a new driving range as well as work to refurbish existing buildings on site and building a new 15 bay driving range where I will base my teaching academy.”</p>
    <h4>Contour Delivers Project On Time</h4>
    <p>Anders freely admits this venture was to be a huge challenge both physically and financially. Anders had been talking with Contour Golf for several years about the possibility of re-opening Oadby and was aware of Contour’s reputation of delivering projects within time and budget. Anders turned to Contour Golf and London Rock to deliver on the project. With no income coming in until the driving range was up and running it was imperative that the driving range was shaped, cultivated and seeded in a 5 month window</p>
    <p>As well as the driving range, two new greens and tees, a short game course and a putting green had to be constructed. The last of the lorries came in at the end of September yet the driving range was able to open for play at the beginning of October. Full bunker renovation was then undertaken and new sand put in on all of the 18 bunkers for the course.</p>
    <h4>Jim Jefferies from London Rock</h4>
    <p>“The material for this job had to be carefully sourced under the strict criteria of the CL:aire protocol. We had to be on the ball both when approving the material and monitoring it during delivery to ensure we were compliant. We found a site that could supply all of the material for our requirements but, at the very last minute, the job was mothballed and we had to be very agile in sourcing alterna- tive supplies. This presented a major hurdle as we knew importation of material for the driving range was time critical. We prioritised this project by providing extra resources to source the right material. The team came up trumps and in the end we had to turn down some potential sites as the required quantities were met.</p>
    <h4>Ingrid Eichler</h4>
    <p>“The biggest challenge for us on this job was to have the driving range ready for play by the end of September in what proved to be one of the driest and hottest summers for 42 years. Yet, at the start of the season the course was waterlogged and the soil temperatures cold after the "Beast From The East" had visited the country. At the same time as constructing the driving range we also had to concentrate on the construction of 2 new greens and tees complete with drainage and irrigation infrastructure. My team rose to the challenge and the driving range was "ready for play" when it opened in October. The new greens and tees were also ready for play. I am proud of the team and the effort that went into getting this facility up and running and producing revenue for the Client as soon as was possible. The Client was also delighted and was even more thrilled when the driving range was placed in the top three of the best driving ranges in the UK.”</p>
  </div>
  <div class="project-carousel" id="service">
    <img class="project-image" src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low/v1544799168/Contour/hiseman_contour-12th-horsham.jpg" alt="Horsham Golf Club 'The Oaks' by Contour Golf Ltd">
    <img class="project-image" src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low/v1545586932/Contour/hiseman_contour_golf_horsham_4th.jpg" alt="Horsham Golf Club 'The Oaks' by Contour Golf Ltd">
    <img class="project-image" src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low/v1547822194/Contour/hiseman_contour-horsham_contour_golf-1st.jpg" alt="Horsham Golf Club 'The Oaks' by Contour Golf Ltd">
    <img class="project-image" src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low/v1545211783/Contour/hiseman_contour-horsham-14th.jpg" alt="Horsham Golf Club 'The Oaks' by Contour Golf Ltd">
    <img class="project-image" src="https://res.cloudinary.com/lwsw18ldn/image/upload/v1547036328/Contour/hiseman_contour_golf_horsham_4th_lake.jpg" alt="Horsham Golf Club 'The Oaks' by Contour Golf Ltd">
    <img class="project-image" src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low/v1547822568/Contour/hiseman_contour-horsham_contour_golf-1st_tee.jpg" alt="Horsham Golf Club 'The Oaks' by Contour Golf Ltd">
  </div>
</div>

<!-- links to website, articles and address -->
<div class="project-row">
  <div class="project-links">
    <%= link_to image_tag('oaks_course_logo_white.png'), "https://www.horshamgolf.co.uk/", target: :_blank %>
    <%= link_to image_tag('oaks_course_logo_white.png'), "https://www.horshamgolf.co.uk/", target: :_blank %>
    <%= link_to image_tag('oaks_course_logo_white.png'), "https://www.horshamgolf.co.uk/", target: :_blank %>
  </div>
  <div class="project-address">
    <p>Horsham Golf & Fitness</p>
    <p>Denne Park House</p>
    <p>Worthing Road</p>
    <p>Horsham</p>
    <p>RH13 0AX</p>
  </div>
</div>
