<div class="service-wrapper">
  <div class="service-carousel" id="service">
    <div class="service-banner">
      <div class="row justify-content-around">
        <div class="service-title">
          <!-- <h2 data-aos="fade-left" data-aos-duration="2000">Traditional Golf Course Constructors</h2> -->
        </div>
      </div>
    </div>
    <div class="service-banner2">
      <div class="row justify-content-around">
        <div class="service-title">
          <!-- <h2 data-aos="fade-left" data-aos-duration="2000">Traditional Golf Course Constructors</h2> -->
        </div>
      </div>
    </div>
    <div class="service-banner3">
      <div class="row justify-content-around">
        <div class="service-title">
          <!-- <h2 data-aos="fade-left" data-aos-duration="2000">Traditional Golf Course Constructors</h2> -->
        </div>
      </div>
    </div>
    <div class="service-banner4">
      <div class="row justify-content-around">
        <div class="service-title">
          <!-- <h2 data-aos="fade-left" data-aos-duration="2000">Traditional Golf Course Constructors</h2> -->
        </div>
      </div>
    </div>
    <div class="service-banner5">
      <div class="row justify-content-around">
        <div class="service-title">
          <!-- <h2 data-aos="fade-left" data-aos-duration="2000">Traditional Golf Course Constructors</h2> -->
        </div>
      </div>
    </div>
  </div>
</div>
