<div class="service-wrapper">
  <div class="service-carousel" id="service">
    <div class="service-banner"></div>
    <div class="service-banner2"></div>
    <div class="service-banner3"></div>
    <div class="service-banner4"></div>
    <div class="service-banner5"></div>
  </div>
</div>
