<div class="video-wrapper">
  <video autoplay muted playsinline loop id="myVideo">
    <source src="https://res.cloudinary.com/lwsw18ldn/video/upload/q_auto:best/v1581800243/Contour/ContourMovie_1.5.mp4" type="video/mp4">
  </video>

<!-- Optional: some overlay text to describe the video -->
  <div class="container-fluid">
    <div class="col-24 col-lg-8 col-md-12">
      <div class="contentVid">
        <h1>Services</h1>
        <p>Contour Golf Ltd comes equipped with more than 25 Years of experience in the golf course construction industry. We provide the knowledge and expertise for all aspects of golf course development. Including the ever increasingly popular 'Soil Import' or 'Land Fill' projects.</p>
        <!-- Use a button to pause/play the video with JavaScript -->
        <div>
          <a href="#traditional"><button id="myBtn">Traditional Build</button></a>
          <a href="#soil"><button id="myBtn">Soil Recovery</button></a>

        </div>
        <!-- <button id="myBtn" onclick="myFunction()">Pause</button> -->
      </div>
    </div>
  </div>
</div>
