<div class="wrap-soil">
  <div class="container">
    <div class="row align-items-center">
      <div class="services-title col-24">
        <h1>Soil Recovery - Inert Soil Infill Construction</h1>
        <h2>How It Works</h2><h4></h4>
          <p>Utilising recovered soil (often called landfill or inert infill) is a proven method of enhancing your golf facilities by providing fill material to create new shape and interest for a golf course. This can allow for improved drainage with the ability to create swales moving water away from playing surfaces.

          Accepting recovered soil on to a site can also generate revenue to self-fund the improvement process.</p>
      </div>
      <div class="col-24 col-md-12 services-description">
        <%= image_tag 'CropLogoCon.png', class: "soil-image-con" %>
        <h2>Golf Construction Experts</h2><h4></h4>
        <p>Known As - 'Soil Import or Landfill'. Working alongside certified and specialist soil importers.
        Contour can manage your infill project from site preparation through effecient placement of material and monitoring, right up to the full completion, shaping and construction of a fully operational golf course.Working alongside certified and specialist soil importers.
        Contour can manage your infill project from site preparation through effecient placement of material and monitoring, right up to the full completion, shaping and construction of a fully operational golf course.</p>
      </div>

      <div class="col-24 col-md-12 offset-md-0 services-description">
        <%= image_tag 'logo_LondonRock.png', class: "soil-image" %>
        <h2>Licensed Soil Importer</h2>
        <p>Established in 1996, London Rock has built a reputation for quality and reliability and, today, is one of the country’s largest independent companies within its industry. Land development services; testing, remediation and restoration to ensure development projects meet with current environmental legislation. Technical feasibility studies are essential prior to embarking on a project to construct a new golf course. London Rock will complete full technical studies to ensure that the identified land is a viable option for the completion of the project.</p>
      </div>
    </div>
  </div>
</div>
    <!-- <br>
    <div class="row align-items-center">
      <div class="col-24 col-md-14 services-description">
        <div class="inert-img"></div>
      </div>
      <div class="col-24 col-md-8 offset-md-2">
        <div class="services-description sd-right">
          <h2>How It Works</h2><h4></h4>
          <p>Utilising recovered soil (often called landfill or inert infill) is a proven method of enhancing your golf facilities by providing fill material to create new shape and interest for a golf course. This can allow for improved drainage with the ability to create swales moving water away from playing surfaces.

          Accepting recovered soil on to a site can also generate revenue to self-fund the improvement process.</p>
        </div>
      </div>


    </div>
      <div class="row align-items-center">
        <div class="col-24 col-md-8">
          <div class="services-description">
            <h2>Negative Cost</h2><h4></h4>
            <p>Working alongside certified and specialist soil importers.
            Contour can manage your infill project from site preparation through effecient placement of material and monitoring, right up to the full completion, shaping and construction of a fully operational golf course.Working alongside certified and specialist soil importers.
            Contour can manage your infill project from site preparation through effecient placement of material and monitoring, right up to the full completion, shaping and construction of a fully operational golf course.</p>
          </div>

        </div>

      </div>
  </div>
</div> -->
