<div class="wrap-soil" id="soil">
  <div class="container">
    <div class="row">
      <div class="services-title col-24">
        <div data-aos="fade-left" data-aos-offset="250" data-aos-easing="ease-in-sine" data-aos-duration="800">
          <h3>Soil Recovery / Infill Construction</h3>
          <h1>Using Recyclable Soils To Build And Fund A Project</h1>
        </div>
        <div class="about-text" data-aos="fade-up" data-aos-offset="250" data-aos-easing="ease-in-sine" data-aos-duration="800">
          <p>Soils that are excavated during development of building sites have to be disposed of. Traditionally this has been through transport to landfill sites, yet, in a day and age when landfill sites are becoming full and the world’s resources are being depleted, the disposal of non-contaminated inert soils seems nonsensical.</p>
          <p>In recognition of this the Government and Environment agency have created a permitting system whereby inert soils can be re-used in certain 'engineered schemes' - This includes leisure, sports and park restoration. Engineering schemes such as these are not subject to landfill tax.</p>
          <p>Contour Golf has many years of experience of managing inert, soil re-use projects and is able to capitalise on the unique opportunity that this offers to the golf course construction industry. Contour Golf is able to offer its Clients an opportunity to raise revenue to fund construction and re-modelling on the golf course through this route.</p>
        </div>
      </div>
      <div class="col-24 col-md-8 services-description">
        <div class="card-soil">
          <%= image_tag 'CropLogoCon.png', class: "soil-image-con" %>
          <div class="card-content-soil">
            <h2 class="card-title">Planning & Permits</h2><h4></h4>
            <p class="card-text">There are a number of requirements that must be met when considering using inert soils for golf course construction. Obtaining a permit for bringing in soil is a complex process involving both the planning authority and Enviroment Agency. Contour and its partners can conduct a pre-application site appraisal and have extensive experience in the requirements to obtaining planning and EA approval. Following approval there is an opportunity to offset costs of the facility upgrade, achieved by commanding a royalty for allowing licensed soil hauliers to deposit inert soil at an EA approved site.
            </p>
          </div>
        </div>
      </div>
      <div class="col-24 col-md-8 offset-md-0 services-description">
        <div class="card-soil">
          <%= link_to image_tag('logo_LondonRock.png', class: "soil-image", alt: "London Rock"), "https://londonrock.co.uk/land_golf_course_feasibility.html", target: :_blank, style: "height: 0px" %>
          <%= link_to image_tag('CAT-logo.png', class: "soil-image-2", alt: "London Rock"), "https://londonrock.co.uk/land_golf_course_feasibility.html", target: :_blank %>
          <div class="card-content-soil">
            <h2 class="card-title">Licensed Soil Importer</h2><h4></h4>
            <p class="card-text">Contour golf work alongside established, quality and independant licensed soil importers throughout the UK. These companies provide land development services - including testing, remediation and restoration to ensure development projects meet with current environmental legislation. The licenesed importers will conduct technical feasibility studies which are essential prior to embarking on a project to construct a new golf course. Complete full technical studies ensure that the identified land is a viable option for the completion of the project.</p>
          </div>
        </div>
      </div>
      <div class="col-24 col-md-8 services-description">
        <div class="card-soil">
          <%= image_tag 'CropLogoCon.png', class: "soil-image-con" %>
          <div class="card-content-soil">
            <h2 class="card-title">Golf Constructors</h2><h4></h4>
            <p class="card-text">While Contour Golf has a long standing reputation in traditional golf course construction, they have identified the unique opportunity soil importation presents. Substantial quantities of fill material enable Contour to sculpt golf facilities that are comparable to the elite courses commonplace in the US, Ireland and Europe. The potential funding it can offer benefits an industry which demands the utmost value from their development budgets.
            Managed correctly, infill offers an exclusive scope for golf development whereby a comprehensive facility upgrade can be achieved with negative cost.</p>
          </div>
        </div>
      </div>
      <div class="services-title">
        <h3>Contour and its partners are currently speculating on planning for its current developments. <a href="#contact">Contact us</a> to see if your facility is eligible.
        </h3>
      </div>
      <br>
    </div>
  </div>
</div>
    <!-- <br>
    <div class="row align-items-center">
      <div class="col-24 col-md-14 services-description">
        <div class="inert-img"></div>
      </div>
      <div class="col-24 col-md-8 offset-md-2">
        <div class="services-description sd-right">
          <h2>How It Works</h2><h4></h4>
          <p>Utilising recovered soil (often called landfill or inert infill) is a proven method of enhancing your golf facilities by providing fill material to create new shape and interest for a golf course. This can allow for improved drainage with the ability to create swales moving water away from playing surfaces.

          Accepting recovered soil on to a site can also generate revenue to self-fund the improvement process.</p>
        </div>
      </div>


    </div>
      <div class="row align-items-center">
        <div class="col-24 col-md-8">
          <div class="services-description">
            <h2>Negative Cost</h2><h4></h4>
            <p>Working alongside certified and specialist soil importers.
            Contour can manage your infill project from site preparation through effecient placement of material and monitoring, right up to the full completion, shaping and construction of a fully operational golf course.Working alongside certified and specialist soil importers.
            Contour can manage your infill project from site preparation through effecient placement of material and monitoring, right up to the full completion, shaping and construction of a fully operational golf course.</p>
          </div>

        </div>

      </div>
  </div>
</div> -->

<!-- need not go to landfill but may be re-used in a more sustainable way to enhance the natural environment -->
