<div class="wrap-soil">
  <div class="container">
    <div class="row">
      <!-- <div class="services-title"><h1>Services</h1></div> -->
      <div class="col-24 col-md-8 services-description">
        <h2>Soil Recovery</h2><h4>Known As - 'Soil Import or Landfill'</h4>
        <p>Working alongside certified and specialist soil importers.
        Contour can manage your infill project from site preparation through effecient placement of material and monitoring, right up to the full completion, shaping and construction of a fully operational golf course.Working alongside certified and specialist soil importers.
        Contour can manage your infill project from site preparation through effecient placement of material and monitoring, right up to the full completion, shaping and construction of a fully operational golf course.</p>
      </div>

      <div class="col-24 col-md-8 offset-md-8 services-description">
        <h2>Hello</h2>
      </div>
    </div>

    <div class="row col-24 col-md-8 offset-md-16">
      <!-- <div class="services-title"><h1>Services</h1></div> -->
      <div class="services-description sd-right">
        <h2>How It Works</h2><h4></h4>
        <p>Utilising recovered soil (often called landfill or inert infill) is a proven method of enhancing your golf facilities by providing fill material to create new shape and interest for a golf course. This can allow for improved drainage with the ability to create swales moving water away from playing surfaces.

        Accepting recovered soil on to a site can also generate revenue to self-fund the improvement process.</p>
      </div>

    </div>
    <div class="row col-24 col-md-8">
      <!-- <div class="services-title"><h1>Services</h1></div> -->
      <div class="services-description">
        <h2>Negative Cost</h2><h4></h4>
        <p>Working alongside certified and specialist soil importers.
        Contour can manage your infill project from site preparation through effecient placement of material and monitoring, right up to the full completion, shaping and construction of a fully operational golf course.Working alongside certified and specialist soil importers.
        Contour can manage your infill project from site preparation through effecient placement of material and monitoring, right up to the full completion, shaping and construction of a fully operational golf course.</p>
      </div>

    </div>
  </div>
</div>
