<div class="wrapper-rec2">
  <div class="soil-rec2-title">
    <h3>Soil Recovery / Infill Construction</h3>
    <h2>Using Recyclable Soils To Build And Fund A Project</h2>
      <p>Soils that are excavated during development of building sites have to be disposed of. Traditionally this has been through transport to landfill sites, yet, in a day and age when landfill sites are becoming full and the world’s resources are being depleted, the disposal of non-contaminated inert soils seems nonsensical.</p>
      <p>In recognition of this the Government and Environment Agency have created a permitting system whereby inert soils can be re-used in certain 'engineered schemes' - this includes leisure, sports and park restoration. Engineering schemes such as these are not subject to landfill tax.</p>
      <p>Contour Golf has many years of experience managing inert, soil re-use projects and is able to capitalise on the unique opportunity that this offers to the golf course construction industry. Contour Golf are able to offer its clients an opportunity to raise revenue to fund construction and re-modelling on the golf course through this route.</p>
  </div>
  <div class="soil-rec2">
    <div class="rec2-img">
      <img src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low/v1578410354/Contour/IMG_7819.jpg" alt="">
    </div>
    <div class="rec2-content-col">
      <%= image_tag 'Planninglogo.png', class: "plan-img" %>
      <%= image_tag 'EA.png', class: "ea-img" %>
      <h2>Planning & Permits</h2>
      <br>
      <p>There are a number of requirements that must be met when considering using inert soils for golf course construction. Obtaining a permit for bringing in soil is a complex process involving both the planning authority and Enviroment Agency. Contour and their partners can conduct a pre-application site appraisal and have extensive experience in the requirements to obtaining planning and EA approval. Following approval there is an opportunity to offset costs of the facility upgrade, achieved by commanding a royalty for allowing licensed soil hauliers to deposit inert soil at an EA approved site.</p>
    </div>
  </div>
  <div class="soil-rec2">
    <div class="rec2-content-col">
      <%= link_to image_tag('logo_LondonRock.png', class: "lond-img", alt: "London Rock"), "https://londonrock.co.uk/land_golf_course_feasibility.html", target: :_blank, style: "height: 0px" %>
      <%= link_to image_tag('Langton_Logo.png', class: "plan-img", alt: "London Rock"), "https://londonrock.co.uk/land_golf_course_feasibility.html", target: :_blank %>
      <h2>Licensed Soil Importer</h2>
      <br>
      <p>Contour Golf work alongside established, quality and independant licensed soil importers throughout the UK. These companies provide land development services - including testing, remediation and restoration to ensure development projects meet with current environmental legislation. The licensed importers will conduct technical feasibility studies which are essential prior to embarking on a project to construct a new golf course. Complete full technical studies ensure that the identified land is a viable option for the completion of the project.</p>
    </div>
    <div class="rec2-img rev-img">
      <img src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low/v1549012543/Contour/Leicester_Driving_Range_Soil_Recovery_Contour_Golf.jpg" alt="">
    </div>
  </div>
  <div class="soil-rec2 img-pad">
    <div class="rec2-img">
      <img src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low/v1550225214/Contour/Contour%20Golf%20Limited.png" alt="">
    </div>
    <div class="rec2-content-col">
      <h2>Golf Course Constructors</h2>
      <br>
      <p>While Contour Golf has a long standing reputation in traditional golf course construction, they have identified the unique opportunity soil importation presents. Substantial quantities of fill material enable Contour to sculpt golf facilities that are comparable to the elite courses commonplace in the US, Ireland and Europe. The potential funding it can offer benefits an industry which demands the utmost value from their development budgets.
      Managed correctly, infill offers an exclusive scope for golf development whereby a comprehensive facility upgrade can be achieved with negative cost.</p>
    </div>
    <div class="services-title">
      <p>Contour and their partners are currently speculating on planning for future developments. <a href="#contact">Contact us</a> to see if your facility is eligible.
      </p>
    </div>
  </div>
</div>
