<div class="testimonial-wrapper">
  <div class="testimonial-wrapper" id="testimonial">
    <div class="container">
      <div class="row justify-content-around">
        <div class="testimonial-title">
          <h2 data-aos="fade-left" data-aos-duration="2000">What Our Clients Say</h2>
        </div>
        <div class="col-12 col-md-10">
          <div class="testimonial-container">
            <div class="testimonial-carousel">
              <div class="testimonial-content">
                <div class="quotes">
                  <i class="fa fa-quote-left"></i>
                  <i class="fa fa-quote-right"></i>
                </div>
                <div class="content-test text-center">
                 <h4>"At Contour Golf Ltd. we are very much aware that your needs and aspirations leave no room for rigidity in our approach. Since our inception in 1993 we have been ‘client oriented’ while developing a thoroughly flexible work ethic. Having been involved in large scale, tournament venue construction projects alongside ‘micro’ bunker refurbishment programmes, we are able to proclaim honestly: “No job is too large or too small.” But cliché is secondary, the primary figure in all our work has been, and always will be, you the client."</h4>
                </div>
                <div class="author-test">
                  <p>Neil Burke - Owner/Director</p>
                  <p>Horsham Golf Club</p>
                </div>
              </div>
              <div class="testimonial-content">
               <div class="quotes">
                <i class="fa fa-quote-left"></i>
                <i class="fa fa-quote-right"></i>
               </div>
               <div class="content-test text-center">
                <h4>“Such adaptability and recognition of individual styles and methods has been accrued through myriad developments with such architects as Jeff Howes (Fota Island for the Irish Open), Christy O’Connor Jnr., Jonathan Gaunt, Patrick Merrigan, Steve Marnoch and Ken Moodie. During this time we have worked in the UK, Ireland and mainland Europe on wildly varying terrain: from mountain bog to heavy clay. From the rebuilding of a single hole to the design and build of an entire golf complex, our attention to detail is constant - your requirements take 'centre stage”</h4>
               </div>
               <div class="author-test">
                <p>Jeff Howes (Architect)</p>
                <p>Fota Island Golf Club</p>
               </div>
              </div>
              <!-- <div class="testimonial-content">
                <div class="quotes">
                 <i class="fa fa-quote-left"></i>
                 <i class="fa fa-quote-right"></i>
                </div>
                <div class="content-test text-center">
                  <h4>"The main issue with the 11th (signature) hole was the green surface which had slopes as severe as 1:4 in places. The whole front section was severely sloped and four-putting was a common problem for players in the summer. The Club was considering making the green a two tier surface but Sparks and Myers convinced them the better solution was to lift the green was and reshape it raising the lowest area by 0.8 of a metre (just under 3 feet). A compatible rootzone was sourced and the original turf, having been stored, was reinstated, this helped to speed up the recovery time and the hole was back in play by the following spring. The bunker on the left of the green was rebuilt some 10 metres closer to the green to tighten the left hand approach and the front bunker was raised in height by over a metre to match the new green height and make it more visible from the tee.  The large right hand bunker was removed and two smaller ones built in its place."</h4>
                </div>
                <div class="author-test">
                  <p>Broadstone Golf Club</p>
                </div>
              </div> -->
              <div class="testimonial-content">
                <div class="quotes">
                 <i class="fa fa-quote-left"></i>
                 <i class="fa fa-quote-right"></i>
                </div>
                <div class="content-test text-center">
                 <h4>"Beneath the obvious unique selling points, Contour are even stronger; "It is our intention to show potential clients that a golf construction project; however big or small, can be a rewarding and efficient process. This in itself is different to what other companies can offer." Explained Eichler who continued, "When we look at a job it is with the eye of professional engineers and dedicated golfers. If you allow us to show you our previous work this will become apparent." No matter what your golf course construction need, Contour Golf really ought to be your first call; first class attention to detail is priceless."</h4>
                </div>
                <div class="author-test">
                  <p>Christy O’Connor Jnr (Architect)</p>
                  <p>Vale do Lobo Golf Club</p>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
