<div class="testimonial-wrapper">
  <div class="testimonial-wrapper" id="testimonial">
    <div class="container">
      <div class="row justify-content-around">
        <div class="testimonial-title">
          <h2 data-aos="fade-left" data-aos-offset="250" data-aos-easing="ease-in-out-sine" data-aos-duration="800">What Our Clients Say</h2>
        </div>
        <div class="col-24 col-md-20">
          <div class="testimonial-container">
            <div class="testimonial-carousel">
              <div class="testimonial-content">
                <div class="quotes">
                  <i class="fa fa-quote-left"></i>
                  <i class="fa fa-quote-right"></i>
                </div>
                <div class="content-test text-center">
                 <h4>The expertise, attention to detail, communication and commitment to the outcomes both of the finished product and the reality of enabling the trading position whilst the project is in ‘full swing’ went way beyond expectation and reasonable contracted commercial necessity. I would thoroughly recommend Contour golf as a partner of expertise both in the set up and management of a soil import site thorough to completion of construction of finished modern playing surfaces.</h4>
                </div>
                <div class="author-test">
                  <p>Neil Burke - Owner/Director</p>
                  <p>Horsham Golf Club</p>
                </div>
              </div>
              <div class="testimonial-content">
               <div class="quotes">
                <i class="fa fa-quote-left"></i>
                <i class="fa fa-quote-right"></i>
               </div>
               <div class="content-test text-center">
                <h4>I am proud to say that I have employed the services of Contour Golf for over 20 years, they have renovated, redesigned, sculptured, reconstructed, drained, enhanced and in some cases help maintain all of the courses I have owned and operated. There work is always of a very high standard completed either ahead of or on time. Their experience and knowledge of golf course construction is second to none and they work sympathetically always considering the needs and demands of keeping the golf course open and playable wherever possible. The courses they have worked on during my tenure are Batchworth Park, Branston Golf and Country Club, Aston Wood Golf Club and Studley wood Golf Club, I recommend that you view these great courses to take reference yourself on the standard of their work. If you require any further information please contact me on 01865 351144.</h4>
               </div>
               <div class="author-test">
                <p>Ken Heathcote (Proprietor)</p>
                <p>Studley Wood</p>
               </div>
              </div>
              <div class="testimonial-content">
                <div class="quotes">
                 <i class="fa fa-quote-left"></i>
                 <i class="fa fa-quote-right"></i>
                </div>
                <div class="content-test text-center">
                  <h4>"Having worked with Contour Golf on several projects over the past five years we would not hesitate to recommend their services; everything about the company is top class. Contour have proven themselves to be a reliable, efficient and knowledgeable team with an excellent range of skills. When Contour are on site you can always guarantee their work will be completed to the highest of standards - we simply would not use anyone else."</h4>
                </div>
                <div class="author-test">
                  <p>Helen Ferguson</p>
                  <p>Neil Langton Plant</p>
                </div>
              </div>
              <div class="testimonial-content">
                <div class="quotes">
                 <i class="fa fa-quote-left"></i>
                 <i class="fa fa-quote-right"></i>
                </div>
                <div class="content-test text-center">
                 <h4>"We had been looking to align ourselves with a professional golf course contractor, that had both the skill and imagination, to construct top quality golf facilities, using materials won from the construction Industry. <br>When we first viewed Contour Golf’s work at Horsham Golf Centre, to say we were amazed by the results is an understatement.  Their ability to transform the chaos of myriads of lorry loads of imported soils into a high quality golf facility is stunning!  We had no hesitation in associating ourselves with a company with these abilities. We have since completed several projects together with equally impressive results and extremely content clients "</h4>
                </div>
                <div class="author-test">
                  <p>James Jeffries</p>
                  <p>London Rock Supplies Ltd</p>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
