<div class="wrap-trad">
  <div class="container-fluid">
    <div class="row">
      <div class="trad-title col-24 col-md-18 offset-md-3">
        <h3 data-aos="fade-left" data-aos-offset="1800" data-aos-easing="ease-in-sine" data-aos-duration="800" data-aos-anchor=".card-soil">Traditional Golf Course Construction</h3>
        <h1 data-aos="fade-left" data-aos-offset="1800" data-aos-easing="ease-in-sine" data-aos-duration="800" data-aos-anchor=".card-soil">Turning Concept & Design Into Reality</h1><h4></h4>
        <h4 class="about-text" data-aos="fade-up" data-aos-offset="1800" data-aos-easing="ease-in-sine" data-aos-duration="800" data-aos-anchor=".card-soil">At Contour Golf Ltd. we are very much aware that your needs and aspirations leave no room for rigidity in our approach. Since our inception in 1993 we have been ‘client oriented’ while developing a thoroughly flexible work ethic. Having been involved in large scale, tournament venue construction projects alongside ‘micro’ bunker refurbishment programmes, we are able to proclaim honestly: “No job is too large or too small.” But cliché is secondary, the primary figure in all our work has been, and always will be, you the client.</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-24 col-md-8">
        <div class="card card-sparks">
          <img src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto/v1547035276/Contour/Horsham_2nd_drainage.jpg" alt="golf course design">
        </div>
      </div>
      <div class="col-24 col-md-8">
        <div class="card card-sparks">
          <img src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low,c_scale,w_1200/v1544177795/Contour/c1/20160730_054.jpg" alt="golf course design">
        </div>
      </div>
      <div class="col-24 col-md-8">
        <div class="card card-sparks">
          <img src="https://res.cloudinary.com/lwsw18ldn/image/upload/c_scale,q_auto:low,w_1000/v1544177786/Contour/c1/DSCF4132.jpg" alt="golf course design">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="trad-title col-24 col-md-22 offset-md-1">
        <p>Such adaptability and recognition of individual styles and methods has been accrued through myriad developments with such architects as Jeff Howes (Fota Island for the Irish Open), Weller Designs, Christy O’Connor Jnr., Jonathan Gaunt, Patrick Merrigan, Steve Marnoch, Ken Moodie and Roger Jones. During this time we have worked in the UK, Ireland and mainland Europe on wildly varying terrain: from mountain bog to heavy clay.</p>
      </div>
    </div>
  </div>
  <!-- <div class="wrap-soil"></div> -->
  <div class="wrapper-trad"></div>
</div>
