<div class="wrap-trad" id="traditional">
  <div class="container-fluid">
    <div class="row">
      <div class="trad-title col-24 col-md-18 offset-md-3">
        <h3 data-aos="fade-left" data-aos-offset="1800" data-aos-easing="ease-in-sine" data-aos-duration="800" data-aos-anchor=".card-soil">Traditional Golf Course Construction</h3>
        <h1 data-aos="fade-left" data-aos-offset="1800" data-aos-easing="ease-in-sine" data-aos-duration="800" data-aos-anchor=".card-soil">Turning Concept & Design Into Reality</h1>
        <p class="about-text" data-aos="fade-up" data-aos-offset="1800" data-aos-easing="ease-in-sine" data-aos-duration="800" data-aos-anchor=".card-soil">Since its inception in 1993 Contour Golf has had at its core a philosophy that upholds the traditional values of classic course design that has empathy with the surrounding environment and which produces sustainable, enjoyable and revenue producing golf. The focus of the philosophy is on producing a facility that encourages players of all abilities who enjoy the game and the course facilities, who are loyal and who keep coming back time and time again. <br><br>Contour Golf acts as a brush in the hand of the golf course architect and provides the conduit to turn design in to reality. The respect for the design and designer is paramount yet Contour is an impassioned company that believes in an honest and complete dialogue with the architect that aims for mutual trust and respect. Contour has been working with some course designers for decades and others for only one or two years but has earned a reputation for delivering the architect's vision on time, within budget and without fuss.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-24 col-md-8">
        <div class="card card-sparks">
          <img src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto/v1547035276/Contour/Horsham_2nd_drainage.jpg" alt="golf course design">
        </div>
      </div>
      <div class="col-24 col-md-8">
        <div class="card card-sparks">
          <img src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low,c_scale,w_1200/v1544177795/Contour/c1/20160730_054.jpg" alt="golf course design">
        </div>
      </div>
      <div class="col-24 col-md-8">
        <div class="card card-sparks">
          <img src="https://res.cloudinary.com/lwsw18ldn/image/upload/c_scale,q_auto:low,w_1000/v1544177786/Contour/c1/DSCF4132.jpg" alt="golf course design">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="trad-title col-24 col-md-22 offset-md-1">
        <p>Such adaptability and recognition of individual styles and methods has been accrued through myriad developments with such architects' as Jeff Howes (Fota Island for the Irish Open), Weller Designs, Christy O’Connor Jnr., Jonathan Gaunt, Patrick Merrigan, Steve Marnoch, Ken Moodie and Roger Jones. During this time Contour have worked in the UK, Ireland and mainland Europe on wildly varying terrain: from mountain bog to heavy clay.</p>
      </div>
    </div>
  </div>
  <!-- <div class="wrap-soil"></div> -->
  <div class="wrapper-trad"></div>
</div>
