<div class="container">
  <div class="row what-header">
    <h1>What we do</h1>
  </div>
  <div class="row">
    <div class="">
      <p>Contour Golf has over a decade of experience in the golf construction market with work on three continents being completed with the minimum of fuss and the maximum satisfaction. In many ways Contour are unique; the most obvious being that this is the only golf construction company to be founded and run by a woman, Ingrid Eichler.</p>
    </div>
    <div class="">
      <img src="https://res.cloudinary.com/lwsw18ldn/image/upload/c_crop,h_1808,w_1936/v1545048829/Contour/IMG_0963.jpg" class="what-pic" alt="">
      <img src="https://res.cloudinary.com/lwsw18ldn/image/upload/v1545048442/Contour/IMG_1328.jpg" class="what-pic" alt="">
      <img src="https://res.cloudinary.com/lwsw18ldn/image/upload/v1545048688/Contour/hiseman_contour-horsham_300dpi_supersize-17.jpg" class="what-pic" alt="">
    </div>

  </div>

</div>
