<div class="wrapper-we">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 offset-md-4">
        <h1>What we do</h1>
      </div>
    </div>
    <div class="row justify-content-around">
      <div class="col-12 col-md-5">
        <div class="what-text">
          <p>Contour Golf are traditional<strong> 'golf course construction' specialists</strong> with over a decade of experience in the golf construction market with work on three continents being completed with the minimum of fuss and the maximum satisfaction. In many ways <strong>Contour are unique;</strong> the most obvious being that this is the only golf construction company to be founded and run by a woman, Ingrid Eichler.</p>
        </div>
      </div>
      <div class="pic col-12 col-md-5">
        <img src="https://res.cloudinary.com/lwsw18ldn/image/upload/c_crop,h_1808,w_1936/v1545048829/Contour/IMG_0963.jpg" class="what-pic1" alt="">
        <!-- <img src="https://res.cloudinary.com/lwsw18ldn/image/upload/v1545048442/Contour/IMG_1328.jpg" class="what-pic2" alt="">
        <img src="https://res.cloudinary.com/lwsw18ldn/image/upload/v1545048688/Contour/hiseman_contour-horsham_300dpi_supersize-17.jpg" class="what-pic3" alt=""> -->
      </div>
    </div>


  </div>

</div>

<div class="wrapper1">
  <div class="header">
    <h1>What we do</h1>
  </div>
  <div class="content">
    <p>Contour Golf are traditional<strong> 'golf course construction' specialists</strong> with over a decade of experience in the golf construction market with work on three continents being completed with the minimum of fuss and the maximum satisfaction. In many ways <strong>Contour are unique;</strong> the most obvious being that this is the only golf construction company to be founded and run by a woman, Ingrid Eichler.</p>
  </div>
  <div class="pictures">
    <img src="https://res.cloudinary.com/lwsw18ldn/image/upload/c_crop,h_1808,w_1936/v1545048829/Contour/IMG_0963.jpg" class="what-pic1" alt="">
  </div>
  <div class="foot">
    <h1>What we do</h1>
  </div>
</div>
