/* Main navbar */
.navbar {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: #272838;
  transition: all 0.3s ease;
  height: 60px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky !important;
  top: 0 !important;
  z-index: 1;
}

/* transparent navbar on home page*/
.navbar-home {
  background-color: transparent;
  box-shadow: none;
  .navbar-link {
    color: #00BFD8;
  }
}

/* Logo */
.navbar-brand img {
  height: 40px;
}

@media screen and (max-width: 700px){
  .navbar-brand img {
    height: 30px;
    padding-left: 5px;
    padding-bottom: 0px;
  }
}

/* Phone Number */
.navbar-brand a {
  color: #00BFD8;
}

/* User Avatar */
.navbar .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 700px){
  .navbar-right{display: none;}
}

/* Basic navbar item */
.navbar-item {
  cursor: pointer;
  padding: 0 20px;
}

@media screen and (max-width: 700px){
  .navbar-item {
    padding: 0 12px;
  }
  .navbar {
    padding: 0 0px;
  }
}

/* Navbar link */
.navbar-link {
  color: #00BFD8;
  font-size: 14px;
  font-weight: normal;
}
.navbar-link:hover {
  color: #da552f;
  text-decoration: none;
  transition: 0.5s;
}

@media screen and (max-width: 700px){
  font-weight: 300px;
}

/* Dropdown menu */
.dropdown {
  color: $white;
}

.navbar-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
