.wrap-soil {
  width: 100%;
  min-height: 20rem;
  overflow: -webkit-paged-x;
  background-color: #272838;
  color: white;
  font-weight: lighter;
  // position: relative;
  h1 {
    padding: 20px;
  }
  h2 {
    text-align: center;
    font-weight: lighter;

  }
}

.services-title {
  h1 {
    text-align: center;
    font-weight: lighter;
  }
  h2 {
    padding-bottom: 20px;
  }
}

.services-description {
  // position: relative;
  padding-top: 20px;
  top: 20px;
  left: 0px;
  height: auto;
  align-items: center;

}

.soil-image {
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 39px;
  padding-bottom: 20px;
  // position: absolute;
  // margin-top: 0px;
  // margin-left: 165px;
  // margin-bottom: 30px;
}

.soil-image-con {
  width: 36%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  // position: absolute;
  // margin-top: 0px;
  // margin-left: 155px;
  // margin-bottom: 0px;
}

.inert-img {
  height: 500px;
  background-image: url(https://res.cloudinary.com/lwsw18ldn/image/upload/c_crop,h_2434,w_2434/v1545391592/Contour/Soil-inert.jpg);
  background-size: cover;
  background-position: center top;
  box-shadow: 0 19px 38px rgba($black, 0.3), 0 15px 12px rgba($black, 0.2);
  margin-bottom: 40px;
  border-radius: 2px;
}

.sd-right {
  // text-align: right;
}

// @media only screen and (max-width: 600px) {
//  .soil-image {
//     margin-left: 90px;
//   }
// }
@media only screen and (max-width: 600px) {
 .soil-image-con {
    margin-left: calc(50% - 64px);
  }
}
