.wrap-soil {
  width: 100%;
  min-height: 20rem;
  overflow: -webkit-paged-x;
  // position: relative;

}

.services-title {
  // position: absolute;
  // top: 50px;
  // left: 58px;
}

.services-description {
  // position: relative;
  padding-top: 20px;
  top: 20px;
  left: 0px;
  height: auto;
}

.sd-right {
  // text-align: right;
}

.soil-image {
  position: absolute;
  right: -515px;
  top: -217px;
}
