.container {
  // position: absolute;
}

.what-header {
  position: relative;
  text-align: center;
}

.row {
  justify-content: space-around;
}

.what-pic {
  background-image: url('');
  width: 370px;
  height: 300px;
  // z-index: 2;
}
